.imgHeader {
  background-image: url('../img/mask-group-74-1@1x.png');
  background-size:cover;
  background-position: 50% 50%;
  height: 450px;
  margin-bottom: 5px;
}

.asset-1 {
  height: 218px;
  margin-right: 2.0px;
  object-fit: cover;
  width: 218px;
}

.text-40 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 6.0px;
  margin-top: 28px;
  min-height: 63px;
  text-align: center;
}

.text-41 {
  min-height: 84px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 9px;
  text-align: center;
}

.text-6 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 46px;
  text-align: center;
  width: 170px;
  font-weight: 600;
}

.text-45 {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 57px;
  text-align: center;
  width: 100%;
}

.text-44 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 2.0px;
  margin-top: 81px;
  min-height: 57px;
  text-align: center;
  width: 1214px;
}

.text-69 {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 414px;
}

.all-programs {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: underline;
  white-space: nowrap;
  width: 170px;
}

.text-72 {
  cursor: pointer;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 720px;
}

.span {
  text-decoration: underline;
}

.social-studies {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 252px;
}

.all-programs-1 {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: underline;
  white-space: nowrap;
  width: 639px;
}

.grades-k-8 {
  cursor: pointer;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: underline;
  white-space: nowrap;
  width: 639px;
}

.grades-9-12 {
  cursor: pointer;
  height: 33px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: underline;
  white-space: nowrap;
  width: 639px;
}

.world-languages {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 252px;
}

.language-arts {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 414px;
}

.math {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 414px;
}

.science {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  width: 414px;
}

.cengage-web-as-gn-stackedrgb {
  height: 196px;
  width: 227px;
}

.cengage-owl-v2-stackedrgb {
  height: 196px;
  object-fit: cover;
  width: 184px;
}

.my-n-gconnectlogok {
  height: 124px;
  object-fit: cover;
  width: 347px;
}

.stacked-full-color {
  height: 177px;
  object-fit: cover;
  width: 313px;
}

.browse {
  width: 95%;
  min-height: 50px;
}

.browse:hover {
  background-color: black;
  color: #fbda05 !important;
}

.lms {
  background-color: var(--elephant);
  width: 95%;
  min-height: 50px;
  color: var(--white) !important;
}

.lms:hover {
  color: var(--elephant) !important;
}

.lms:hover {
  background-color: var(--white);
  color: var(--elephant);
}

.lib {
  min-height: 50px;
  color: var(--white) !important;
}

.lib:hover {
  background-color: var(--white);
  color: var(--bahama-blue) !important;
}

.text-47 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 3.0px;
  min-height: 57px;
  text-align: center;
  width: 100%;
}

.cengage-sam-stackedrgb {
  height: 151px;
  margin-top: 7px;
  object-fit: cover;
  width: 142px;
}

.cengagec-now-v2-stackedrgb {
  height: 151px;
  margin-left: 0.04px;
  margin-top: 7px;
  object-fit: cover;
  width: 142px;
}

.online-practice-blk {
  height: 83px;
  margin-right: 1.0px;
  margin-top: 49px;
  object-fit: cover;
  width: 209px;
}

.my-elt-logo2color-black {
  height: 64px;
  margin-right: 9.0px;
  margin-top: 49px;
  object-fit: cover;
  width: 185px;
}

.cognero {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 57px;
  min-height: 78px;
  text-align: center;
  width: 264px;
}

.vs-logo-horrgb {
  height: 43px;
  margin-top: 59px;
  object-fit: cover;
  width: 236px;
}
.text-53 {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: 40px;
  font-weight: 600;
  height: 67px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 1214px;
}

.privacy {
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 222px;
}

.accessibility {
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 222px;
}

.terms-of-use {
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 222px;
}

.text-50 {
  height: 148px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 329px;
}

.text-51 {
  height: 148px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 335px;
}

.text-52 {
  height: 140px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 291px;
}

.text-54 {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 70px;
  text-align: center;
  width: 100%;
}

.national-geographic {
  align-self: center;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2.0px;
  margin-top: 18px;
  min-height: 173px;
  text-align: center;
  width: 874px;
}