/* CSS Document */
/* this is suposed to have all the basics for the NGl endeca site */
/* each cartidge should be listed out sepertley with conemts so you know all the styles that effect it*/


html{
font-size:0.75em; /*this equlizes the fonts acccros */
color:#333333;
font-family: Arial,Helvetica,sans-serif;
line-height:1.5em;
}
a:link{color:#0071a2;}
a:visited{color:#0071a2;
}
a:hover{color:#0071a2;
text-decoration:underline;
}

li{
list-style-type:none;
}
div#global{
margin:0px auto;
padding:0px;
width:975px;
}

div#content_wrap{
float:left;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}


div#content{
float:left;
width:100%;
}

/*specific wrapers for the landing page*/
div#content_left{
float:left;
width:745px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

/*specific wrapers for the landing page*/
div#content_right{
float:right;
width:230px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

div#LandHero{
	float:left;
	width:745px;	
}

div#c2NarrowLeft{
float:left;
width:483px;

}

div#rightNav{
float:right;
width:230px;
}

/* slplit cartridges for the main landing page */
.SplitCartidgeWrap{
float:left;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 10px 0px;

}



/*this is the landing page html block */
/* look at consoldating these in to smaller blocks of contet ie combining tags*/

.textBlock{
float:left;
width:37%;
padding:10px 10px 10px 14px;
margin:0px 0px 0px 0px;
border-right:1px solid #a6a6a6;
text-align:left;
}

.textBlock h3{
font-size:1.15em;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

.textBlock p{
font-size:0.95em;
padding:5px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

.textBlock a:link{
color:#a25018;
}

.textBlock a:visited{
color:#a25018;
}

.textBlock a:hover{
color:#a25018;
}


.blockQ{
float:left;
width:75%;
padding:10px 10px 10px 31px;
margin:0px 0px 0px 0px;
color:#666666;
}

.blockQ p{
	padding:5px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	font-size:0.90em;
}

.blockQ .quotebox{
	float:left;
	width:100%;
	clear:left;
	padding:0px 0px 0px 9px;
	margin:0px 0px 0px 0px;
}

.blockQ blockquote{

padding:2px 2px 0px 2px;
margin:0px 0px 0px 0px;
font-style: italic;
}

/***** text block styles for #2 and *****/

.textBlockSplit{
float:left;
width:358px;
padding:10px 0px 0px 0px;
margin:8px 0px 0px 8px;
text-align:left;
}

.textBlockSplit h3{
font-size:1.15em;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

.textBlockSplit p{
font-size:0.95em;
padding:5px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

.textBlockSplit a:link{
color:#a25018;
}

.textBlockSplit a:visited{
color:#a25018;
}

.textBlockSplit a:hover{
color:#a25018;
}

.heroSplit{
float:left;
width:358px;
padding:0px 0px 0px 0px;
margin:8px 0px 0px 8px;
}


/***** text block styles for #1 and *****/


/*Right landing slider for the main image */

.RotatingImage{
float:right;
margin:0px 0px 0px 0px;
padding:00px 0px 0px 0px;
width:230px;
background-color:#141b2e;

}

.RNSlide_Con h2{
color:#FFF;
font-size:1.0em;
font-weight:bold;
} 

.RNSlide_Con a{
color:#FFF;
font-size:0.90em;
}

.SliderNav{
float:left;
width:100%;
font-size:3em;
position:relative;
top: -45px;
z-index: 1000;
text-align:center;
height:40px;
}


.SliderNavL{
float:left;
width:100%;
font-size:3em;
position:relative;
top: -45px;
z-index: 1000;
text-align:center;
height:40px;
}

a.activeSlide{
color:#ffd904;
}

.RNImageSlides{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
height:auto;
/*this needs to have some work done on it its colapsing to the unflated links*/

}

.RN1{
position:absolute;
Left:-2000px
}
div#RN2{
position:absolute;
Left:-2000px
}

div#RN3{
position:absolute;
Left:-2000px
}

div#RN4{
position:absolute;
Left:-2000px
}

div#RN5{
position:absolute;
Left:-2000px
}

div#RN6{
position:absolute;
Left:-2000px
}

div#RN7{
position:absolute;
Left:-2000px
}

.RNSlide_Con{

}

/* stlys fronm the existing search cartidge */

/* CSS Document */
/* search results css */


ul, li ,p, h4, h5{
/*list-style:none;*/
padding:0px;
margin:0px;
}

div#main{
float:left;
width:100%;
padding:0px 0px 0px 0px;	
margin:0px;
}

/******************************** cartalog product images and product *****************************/

#c1 dl{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

#c1 dt{
}

#c1 dd{
}

.catalog_c1_1{
margin:0px 0px 0px 0px;
padding:0px 0px 10px 0px;
float:left;
width:705px;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
}

.catalog_c1_1new{
margin:0px 0px 0px 0px;
padding:8px 0px 10px 0px;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
float:left;
width:714px;
}

.catalog_c1_1last{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:87%;
}

.catalog_c1_1newLast{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;/
float:left;
width:98%;
}

/*program links section */


.program_c1_1{
margin:0px 0px 0px 0px;
padding:0px 0px 10px 0px;
float:left;
width:705px;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
}

.program_c1_1new{
margin:0px 0px 0px 0px;
padding:8px 0px 10px 0px;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
float:left;
width:714px;
}

.program_c1_1last{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:87%;
}

.program_c1_1newLast{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;/
float:left;
width:98%;
}


#c1 dl.pro_infoleft {
float:left;
margin:0;
padding:0;
width:85px;
}

#c1 dl.pro_inforight {
float:left;
margin:0;
padding:0;
width:80%;
}


#c1 dd.pro_image{
padding:17px 0px 7px 0px;
margin:0px 0px 0px 0px;
}

#c1 dt.cat_new{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#ce3c23;
}


#c1 dt.cat_BookTitle{
padding:14px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#0089c5;
}

#c1 dt.cat_BookTitleNew{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#0089c5;
}

#c1 dd.cat_subtitle{
padding:2px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:400;
color:#666;
}

#c1 dd.cat_author{
padding:3px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-style:italic;
color:black;
}

#c1 dd.cat_isbn{

padding:3px 0px 0px 0px;
margin:0px 0px 0px 0px;
color:black;
}

#c1 dd.cat_about{
margin:0px 0px 0px 0px;
padding:3px 0px 0px 0px;
color:black;
}

#c1 dd.cat_alternate{
margin:0px 0px 0px 0px;
padding:3px 0px 10px 0px;
color:black;
}


/*narrow versions of the header list*/
.catalog_c1_1Narrow{
margin:0px 0px 0px 0px;
padding:0px 0px 10px 0px;
float:left;
width:98%;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
}

.catalog_c1_1newNarrow{
margin:0px 0px 0px 0px;
padding:8px 0px 10px 0px;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
float:left;
width:98%;

}

.catalog_c1_1lastNarrow{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:100%;
}

.catalog_c1_1newLastNarrow{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:87%;
}


#c1 dl.Service_Traning_inforight {
float:left;
margin:0px 0px 10px 0px;
padding:0px 0px 0px 10px;
width:96%;
}

#c1 dl.cat_infoleft {
float:left;
margin:0;
padding:0;
width:85px;
}

#c1 dl.cat_inforight {
float:left;
margin:0;
padding:0;
width:80%;
}


#c1 dl.cat_infoleftNarrow {
float:left;
margin:0;
padding:0;
width:85px;
}

#c1 dl.cat_inforightNarrow {
float:left;
margin:0;
padding:0;

width:80%;
}

#c1 dl .bcon_left{
float:left;
margin:0;
padding:0;
width:60%;
}

#c1 dl .bcon_right{
float:right;
margin:0;
padding:0;
width:32%;
}

#c1 .catalog_c1_1new dd.cat_image{
padding:0px 0px 7px 0px;
margin:3px 0px 7px 0px; 
}

#c1 dt.cat_ep{
font-weight:bold;
padding:5px 0px 5px 0px;
margin:0px 0px 0px 0px;
border-bottom:1px solid #FFCC00;

}

#c1 dt.cat_cat{
font-weight:bold;
padding:5px 0px 5px 0px;
margin:10px 0px 0px 0px;
border-bottom:1px solid #FFCC00;

}
#c1 dd.cat_inst{
font-weight:bold;
padding:5px 0px 5px 0px;
margin:0px 0px 0px 0px;
border-bottom:1px solid #FFCC00;
}
#c1 dd.cat_student{
font-weight:bold;
padding:5px 0px 5px 0px;
margin:0px 0px 0px 0px;
border-bottom:1px solid #FFCC00;

}

#c1 dd.cat_image{
padding:17px 0px 7px 0px;
margin:0px 0px 0px 0px;
}

#c1 dt.cat_new{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#ce3c23;
}


#c1 dt.cat_BookTitle{
padding:14px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#0089c5;
}

#c1 dt.cat_BookTitleNew{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#0089c5;
}

#c1 dd.cat_subtitle{
padding:2px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:400;
color:#666;
}

#c1 dd.cat_author{
padding:3px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-style:italic;
color:black;
}

#c1 dd.cat_isbn{

padding:3px 0px 0px 0px;
margin:0px 0px 0px 0px;
color:black;
}

#c1 dd.cat_about{
margin:0px 0px 0px 0px;
padding:3px 0px 0px 0px;
color:black;
}

#c1 dd.cat_alternate{
margin:0px 0px 0px 0px;
padding:3px 0px 10px 0px;
color:black;
}
/*narrow versions of the book info for sort */


#c1 .catalog_c1_1newNarrow dd.cat_imageNarrow{
padding:0px 0px 7px 0px;
margin:3px 0px 0px 0px; 
}


#c1 dd.cat_imageNarrow{
padding:17px 0px 7px 0px;
margin:0px 0px 0px 0px;
}

#c1 dt.cat_newNarrow{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#ce3c23;
}

#c1 dt.cat_BookTitleNarrow{
padding:14px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#0089c5;
}



#c1 dt.cat_BookTitleNewNarrow{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:bold;
color:#0089c5;
}

#c1 dd.cat_subtitleNarrow{
padding:2px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:400;
font-size:80%;
color:#666;
}

#c1 dd.cat_authorNarrow{
padding:3px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-style:italic;
color:black;
}

#c1 dd.cat_isbnNarrow{

padding:3px 0px 0px 0px;
margin:0px 0px 0px 0px;
color:black;
}

#c1 dd.cat_aboutNarrow{
margin:0px 0px 0px 0px;
padding:3px 0px 0px 0px;
color:black;
}

#c1 dd.cat_alternateNarrow{
margin:0px 0px 0px 0px;
padding:3px 0px 10px 0px;
color:black;
}

/********* pagnation  ************/

/*the SR_number tag made  not be necessary verify before removal believe it was superseded in the release is not needed anymore*/
.sr_number{
width:100%;
float:right;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}
.sr_number p{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:right;

font-weight: bold;
color:#000;
}

.search_next_NO{
width:100%;
float:right;
margin:0px;
padding:0px 0px 0px 0px;
}


#c1 dd.firstbt{
margin:0px 6px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #ccc;
}

#c1 dd.backbt{
margin:0px 6px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #ccc;
}

#c1 dd.backbt img{
border:none;
}

#c1 dd.nextbt{
margin:0px 6px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #ccc;
}

#c1 dd.lastbt{
margin:0px 0px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #ccc;
}

/*go state for next back */


#c1 dd.nextbtGO{
margin:0px 6px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #333;
}

#c1 dd.lastbtGO{
margin:0px 0px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #333;
}

#c1 dd.nextbtGO{
margin:0px 6px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #333;
}

#c1 dd.lastbtGO{
margin:0px 0px 0px 0px;
padding:3px 4px 3px 4px;
border:1px solid #333;
}

/* end go state */
#c1 dd.nextbt img{
border:none;
}
.search_next{
float:right;
margin:0px;
padding:0px 0px 0px 0px;
width:233px;
}

.search_next dl{
margin:0px 0px 0px 6px;
padding:0px 0px 0px 0px;
float:left;
}

.search_next dd{
padding:0px 5px 0px 5px;
float:left;
}

/*burttion classes contoroling the colors on higlight*/
/*standard off */
.search_next dd.firstbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next dd.backbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next dd.nextbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next dd.lastbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

/* standard on */
.search_next dd.firstbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next dd.backbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next dd.nextbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next dd.lastbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}


.search_next dd a:visited{
}

.search_next dd a:hover{
text-decoration:underline;
}

.search_next dd.search_curent {
padding:0px 4px 0px 4px;
margin:4px 0px 0px 0px;
font-weight:bold;
 color: #CE3C23;
 border-right:1px solid #000;
}

.search_next dl dd:nth-child(7){
	border-right:none;
}

/****** bottom paganation *******/
.search_next_bottom{
width:100%;
float:right;
margin:0px 0px 10px 0px;
padding:10px 0px 10px 0px;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
}

.search_next_bottom dl{
margin:0px 0px 0px 6px;
padding:0px 0px 0px 0px;
float:right;
width:233px;

}

.search_next_bottom dd{
padding:0px 5px 0px 5px;
float:left;
}
.search_next_bottom dd a:link{
padding:0px 0px 0px 0px;
color: #005D94;
}

.search_next_bottom dd a:visited{
/* color:#0789C4; changed for acessability reasons */
color: #005D94;
}

.search_next_bottom dd a:hover{
/* color:#0789C4; changed for acessability reasons */
color: #005D94;text-decoration:underline;
}
/*paganation Navagtion lower set*/

/*standard off */
.search_next_bottom dd.firstbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next_bottom dd.backbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next_bottom dd.nextbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next_bottom dd.lastbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

/* standard on */

.search_next_bottom dd.firstbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom dd.backbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom dd.nextbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom dd.lastbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom dd.search_curent{
padding:0px 4px 0px 4px;
margin:4px 0px 0px 0px;
font-weight:bold;
 color: #CE3C23;
  border-right:1px solid #000;
}

.search_next_bottom dl dd:nth-child(7){
	border-right:none;
}


/****** narrow bottom paganation *******/
.search_next_bottom_narrow{
width:99%;
float:right;
margin:0px 0px 10px 0px;
padding:10px 0px 10px 0px;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
}

.search_next_bottom_narrow dl{
margin:0px 0px 0px 6px;
padding:0px 0px 0px 0px;
float:right;
width:50%;
}

.search_next_bottom_narrow dd{
padding:0px 5px 0px 5px;
float:left;
}
.search_next_bottom_narrow dd a:link{
padding:0px 0px 0px 0px;
color: #005D94;
}

.search_next_bottom_narrow dd a:visited{
/* color:#0789C4; changed for acessability reasons */
color: #005D94;
}

.search_next_bottom_narrow dd a:hover{
/* color:#0789C4; changed for acessability reasons */
color: #005D94;text-decoration:underline;
}


/*standard off */
.search_next_bottom_narrow dd.firstbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next_bottom_narrow dd.backbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next_bottom_narrow dd.nextbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

.search_next_bottom_narrow dd.lastbt a:link{
padding:0px 0px 0px 0px;
color:#ccc;
}

/* standard on */

.search_next_bottom_narrow dd.firstbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom_narrow dd.backbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom_narrow dd.nextbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom_narrow dd.lastbtGO a:link{
padding:0px 0px 0px 0px;
color:#333;
}

.search_next_bottom_narrow dd.search_curent{
padding:0px 4px 0px 4px;
margin:4px 0px 0px 0px;
font-weight:bold;
 color: #CE3C23;
  border-right:1px solid #000;
}

.search_next_bottom_narrow dl dd:nth-child(7){
	border-right:none;
}

/************ the no ad long version styles *****************/

div#book_info_Wrap{
float:left;
margin:0 0 10px 0px;
padding:0;
width:724px;
}


div#book_info_WrapNarrow{
float:left;
width:483px;
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
background-color:#ffffff;
}

div#bookwrap_cap{
float:left;
margin:0px 0px 0px 0px;
padding:0 0 0 0px;
width:724px;

}



div#bookwrap_left{
float:left;
margin:0px 0px 10px 0px;
padding:0;
width:725px;
}

/********* added from searc results page were inline styles *********/

#resultsPageSize {
float: left;
/* acessability mod color: #333336;*/
padding:1px 10px 0px 0px;
margin:0px;
width:25%;
}

/* remove once instated */
#resultsPageSize span {
float: left;
padding-right: 2px;
padding-top: 3px;

}

/*********** new styles for the refine search box ***************/

#resultsPageSize label {
float: left;
width:98px;
padding:3px 2px 0px 0px;
margin:0px;
color:#202020;
}



div#c1_Subnav .subnav_title{;
/*accessaility mod */
color: #333336;
margin:0px 0px 0px 0px;
padding:4px 0px 0px 20px;
}

.ref_searchBtn {
    float: right;
    margin: 0px 0 0 0px;
    padding: 3px 0px 3px 0px;
    width: 23px;
   border-top:1px solid #ccc;
   border-right:1px solid #ccc;
   border-bottom:1px solid #ccc;
   border-left:none;
    background-color: #FFFFFF;
    background-image: url("/images/headerFooter/searchIcon.jpg");
    background-position: 2px 0px;
    background-repeat: no-repeat;
       border-radius: 0px 5px 5px 0px;
    
    display: block;
    text-align:center;
    color:#043660;
   /* -moz-border-radius: 15px;
   *//* border-radius: 15px;
    */
    cursor:pointer;

}

.ref_search_input{
margin:0px;
padding:7px 0px 9px 4px;
*padding:7px 0px 9px 0px;
float:left;
width:58%;
}

div#Refine_form_wrap{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
float:left;
width:99%;
}

div#Refine_form_wrap form {
float:left;
padding:0px 0px 0px 0px;
width:200px;
padding-left:0px;
margin:0px 0px 0px 10px;
}

#Refine_form_wrap label{
/*acessability mod*/
color: #333336;
float:left;
Width:100%;
}

#RefSearchTXT{
margin:0px 0px 0px 0px;
padding:3px 0px 3px 3px;
width:172px;
float:left;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
border-right:none;
  color:#666; 
     border-radius: 5px 0px 0px 5px;
}

div#RefineSearch{
 float: left;
    margin: 0;
 /*   padding: 0 0 10px; orignal */ 
    padding: 0 0 0px 0px; /*photon request to change */
    width: 220px;
}


/******** new styles for the let navagation h3 etc */



#Left_nav h2 {
font-size:1.5em;
margin:10px 0 0 14px;
padding:5px 0 5px 0;
width:85%;
color:#cc6600;
}


.nav_list {
float:left;
margin:0;
padding:0 0 14px 14px;
width:85%;
/*
startoing the ellipises with the overflow stuff */
/*	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url("/css/moz-ellipsis.xml#ellipsis");
*/
}


input.checkBox{
float:left;
width:7%;
margin:6px 0px 0px 12px;
padding:0px 0px 0px 0px;
}


label.checkBoxLabel{
float:left;
width:80%;
margin:0px 0px 0px 0px;
padding:5px 0px 3px 3px;
*padding:8px 0px 3px 5px;


}



div#centerNavWrap {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}




/*end serach results css */

ul, li ,p, h4, h5{
/*list-style:none;*/
padding:0px;
margin:0px;
}

/*consolatated to line 18 
div#main{
	float:left;
	width:100%;
	padding:0px 0px 0px 0px;	
	margin:0px;
}
*/
.h1_header{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
 font-weight:bold;
 float:right;
 width:74%;
}

.h1_header h1{
padding:0px 0px 8px 0px;
margin:0px 0px 0px 0px;
}

.RFSfirst_item{
 background-image: url("/images/catalog/curve_blue_lnavheader_gradent.jpg");
 background-position: left top;
 background-repeat: no-repeat;
}

div#refineSearch_wrap{
    float: left;
    margin: 0;
    padding: 0;
    width: 220px;/*
    background-image: url("/images/catalog/blue_left_navHeader_bgWgradent.jpg");
    background-position: left top;
    background-repeat: no-repeat;*/
}
/* this wraps the first idv with an id so we can styl the h2 below it.  */
div#firstH2 h2{
	/*
 background-image: url("/images/catalog/curve_blue_lnavheader_gradent.jpg");
 background-position: left top;
 background-repeat: no-repeat;
*/}

div#firstH2{
    float: left;
    margin: 0;
    padding: 0;
    width: 220px;/*
    background-image: url("/images/catalog/blue_left_navHeader_bgWgradent.jpg");
    background-position: left top;
    background-repeat: no-repeat;*/
}
/*
div#BrowsebyField{
margin:0px 0px 0px 0px;
*//*padding:0px 0px 10px 0px;*/
/*from Photon 8 15 11*/
/*padding:0px;
float:left;
width:220px;
}

div#BrowsebyField h2 {
    background-image: url("/images/catalog/blue_left_navHeader_bgWgradent.jpg");
    background-position: left top;
    background-repeat: no-repeat;
}
*/
div#GuidedNavigation h2 {/*
    background-image: url("/images/catalog/blue_left_navHeader_bgWgradent.jpg");
    background-position: left top;
    background-repeat: no-repeat;*/
}


.BrowsebyField{
margin:0px 0px 0px 0px;
/*padding:0px 0px 10px 0px;*/
/*from Photon 8 15 11*/
padding:0px;
float:left;
width:220px;

}


div#c1{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
width:724px;

}


div#c1 h4{
	font-size:100%;
}

div#c2{
margin:0px 0px 0px 0px;
padding:10px 0px 0px 0px;
float:left;
width:724px;
}

div#FSP_wrap{
/*background-image:url(/images/catalog/market_segmentFSPWrapbg.jpg);
background-position:0 0;
background-repeat:no-repeat;
*/
float:left;
height:100%;
margin:0px 0px 10px 0px;
padding:0;
width:483px;
}

div#FSP{
/*background-image:url(/images/catalog/market_segmentFSPbg.jpg);
background-position:0 100%;
background-repeat:no-repeat;	
*/
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
float:left;
width:100%;
height:100%;
/*background-color:#F0EFEF;*/
}

div#FSP h2{
margin:0px 0px 0px 0px;
padding:5px 0px 5px 12px;
/*color:#014880;*/
color:#000000;
font-size:115%;
}

/*styles for the ul's in the main text area */

div#FSP h4{/*
font-size:100%;*/
}


div#FSP ul{
font-size:100%;
float:left;
width:100%;
 background-color: #FFFFFF;
 /*border-bottom: 2px solid #D4D4D4;*/
 /*border-top: 2px solid #D4D4D4;*/
 font-size:90%;
 color:#000;
}

div#FSP ul li{
    float: left;
    margin: 0;
    padding: 5px 0 5px 0px;
 /*   list-style-type: disc;
     list-style-position: inside;
*/      /*from photon 8 15 11*/
   width:97%;
/*  text-align: justify;*/
    
}

div#FSP .Orange{
color:#f1951f;
}

div#Team_up{
float:left;
Width:100%;
margin:10px 0px 0px 10px;
padding:0px 0px 0px 0px;
}

div#Team_up img{
float:left;
width:100px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


div#Team_up p{
	float:left;
	width:75%;
	margin:0px 0px 0px 0px;
	padding:6px 0px 0px 12px;
	color:#014880;	
}

div#Team_up h2{
float:left;
	width:75%;
	margin:0px 0px 0px 0px;
	padding:6px 0px 0px 12px;
	color:#014880;
}

div#SandT_block{
float:left;
width:100%;
/* Beacuse content aligement changed marign : margin:10px 0px 0px 0px;*/
margin:10px 0 0 10px;
padding:0px 0px 0px 0px;
}

div#SandT_block img{
	border:none;
}	
div#sandt_start{
float:left;
width:169px;
margin:0px 0px 0px 13px;
padding:0px 0px 0px 0px;

}

div#sandt_mid{
float:left;
width:169px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}

div#sandt_end{
float:left;
width:175px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}

div#Solutions_block{
width:540px;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 0px;
float:left;
}

div#Solutions_block dl{
margin: 10px 0px 10px 12px;
padding:18px 0px 0px 0px;
float:left;
width:526px;
border-top:1px solid #E9E9E9;

}

dl.SB_First{
margin: 10px 0px 10px 12px;
padding:18px 0px 0px 0px;
float:left;
width:526px;
border-top:0px;

}

div#Solutions_block dt{
margin:0px 0px 0px 0px;
padding:3px 0px 1px 0px;
/*padding:3px 0px 4px 0px;*/
font-size:130%;
color:#333;
float:right;
width:335px;
font-weight:600;
}



div#Solutions_block dd{
margin:0px 0px 0px 0px;
padding:1px 0px 1px 0px;
font-size:86%;
color:#333;
}


div#Solutions_block dd.SB_image{
float:left;
}

div#Solutions_block dd.SB_text{
	width:335px;
	margin:0px 0px 0px 0px;
	padding:1px 0px 1px 0px;
	/*padding:5px 0px 5px 0px;*/
	float:right;
}

div#Solutions_block dd.SB_image img{
float:left;
margin:0px 10px 0px 0px;
padding:4px;
border:1px solid #ccc;
}

div#SRcenter_nav{
float:right;
width:100%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}

div#AuthorBannerAdd{
text-align:center;
width:100%;
padding:0px 0px 0px 0px;
margin:5px 0px 0px 0px;
}


#center_div{
}

#choose{
float:right;
margin:20px 0px 0px 0px;
padding:0px 8px 0px 0px;
font-size:100%;
color:#013658;
}

#subh2{
font-size:140%;
color:#666667;
float:left;
width:auto;
margin:20px 0px 10px 0px;
padding:0px 0px 0px 0px;
}

#Dis_Name{
float:left;
width:100%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 12px;
}


#SRtitle_head{
float:left;
width:100%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}

#SRtitle_head .sub_h1{
float:left;
width:50%;
margin:0px 0px 0px 0px;
padding:0px 0px 5px 0px;
color: #CC6600;
font-size:1.25em;
font-weight:bold;

}

#SRtitle_head .dre_pp{
float:right;
width:40%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

#SRtitle_head .dre_pp li:nth-child(1){
float:left;
width: 59%;
border-right:1px solid #000;
padding: 3px 25px 3px 0;
margin:0px 0px 0px 0px;
background-image: url("/images/catalog/excellIco.png");
background-position: 97% 2px;
background-repeat: no-repeat;
text-align: right;
}

#SRtitle_head .dre_pp li:nth-child(2){
float:right;
width:30%;
padding:3px 0px 3px 0px;
margin:0px 0px 0px 0px;
background-image: url("/images/catalog/printpageico.png");
background-position: 100% 0px;
background-repeat: no-repeat;
}

/*
#SRtitle_head .dre_pp li{
float:left;
width:30%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}
*/

#SearchText{
float:left;
width:700px;

clear:both;
}


div#CFWYLF{
float:right;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
background-image: url("/images/catalog/PB_images/CFWYLF.png");
background-position: left top;
background-repeat: no-repeat;
height:24px;
Width:263px;

}

div#CFWYLF img{
border:none;
}

div#CFWYLF a{
    float: right;
    font-size: 85%;
    font-weight: bold;
    margin: 4px 0 0;
    padding: 0;
    width: 90%;
    text-decoration:none;
}

div#CFWYLF a:hover{
    float: right;
    font-size: 85%;
    font-weight: bold;
    margin: 4px 0 0;
    padding: 0;
    width: 90%;
    text-decoration:none;
}

div#CFWYLF a:visited{
    float: right;
    font-size: 85%;
    font-weight: bold;
    margin: 4px 0 0;
    padding: 0;
    width: 90%;
    text-decoration:none;
}


/************* global overrides ***************/

#bg_navlink{
font-size:87%;
float:left;
padding:3px 3px 3px 8px;
}

#bg_navlink a{
padding:2px;
color:#FFFFFF;
/*  text-align: justify;*/
text-decoration:none;
font-size:100%;
}

div #disp_area{ 
float:left;
padding:0px 0px 9px 8px; 
background-color:#993333;
width:151px;
height:35px;

}

.highered{
list-style:none;
font-size:13px;
font-weight:bold;
color:#F9F9F9;
padding: 0px 0px 0px 0px;
}

/* left Navagation Sty;les */

div#Left_nav_Wrap{
float:left;
width:220px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

div#Left_nav {
 /*background-image: url("/images/catalog/LeftNav_full_WhiteBGimage.jpg");
    background-position: left top;
  */  background-repeat: repeat-y;
    float: left;
   padding:0px 0px 0px 0px;
   margin:0px 0px 0px 0px;
    width: 220px;
     border: 1px solid #FFCC00;
    /*box-shadow: 5px 4px 4px #b9b9b9;*/
}
.h2_header {
margin:10px 0px 5px 0px;
padding:0px 0px 0px 0px;
}


.nav_list {
margin:0px;
padding:6px 0px 0px 14px;
float:left;
width:85%;
}
/***************** search box stuff ******************/

/********** Statthe first dual cartidge wrapper cartidge wrappper **********/
div#SearchBoxCartidge{
float:left;
width:100%;
margin:0px 10px 3px 0px;
padding:0px 0px 0px 0px;



}

/******** adjusted for the new page builder cartidge - new content at the bottom of the page ***********/
/******* Starting the RefineCenterSearch Cartridge styles  ********/
div#content_Search_Car{
    float: left;
    height: 190px;
    margin: 0px 0 0 8px;
    padding: 0px 0 0 0;
    width: 483px;
    
}

div#content_Search_Car p{
color: #00466a;
    font-size: 110%;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 0 24px;
}

div#content_Search_Car h2{
    color: #79797a;
    font-size: 244%;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 25px;
}

#ES2 {
float:left;
margin:0px;
padding:0px 0px 25px 13px;
width:96%;
}


.search_searchBtn{
float:right;
width:50px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}

.search_textField2{
float:left;
width:100px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


div#Search_form2{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width:97%;
}

div#Search_form2 h3{
font-size:1.0em;
margin:0px 0px 0px 0px;
padding:14px 0px 12px 13px;
font-weight:bold;

}

/****** Ending the refine searchbox cartidge styles ****/

/****** Starting the BannerHTML Cartridge ******/

div#rightTopAdCar{
    float: right;
    height: 188px;
    margin: 1px 13px 0px 0px;
    padding: 0px 0 0 0px;
    width: 230px;  
}

div#rightTopAdCar img{
border:none;
}

/******* end Starting the BannerHTML Cartridge ******/

/*
appears to be from the previous release verify before removal 
div#disc_srach{
width:959px;
border-right: 1px solid #000099;
float:left;
padding:0px 0px 0px 0px;
margin:1px 0px 0px 5px;
background-color:#f3f4f5;
background-image:url(../images/common/catalog_searchbg.gif);
background-repeat:no-repeat;
background-position:top left;*/
}



/********* pagnation  ************/
/*
appears to be from the previous release verify before removal 
.sr_number{
width:100%;
float:right;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}
.sr_number p{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
float:right;

font-weight: bold;
color:#000;
}
*/

div#centerNavWrap{
	float:left;
	Width:100%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;


}

/******** main center navagation *******/
div#center_Nav{
float:left;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
/*width:60%;*/
/* photon Changes */
width:57%;
}

div#center_Nav ul{
float:left;
width:100%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


div#center_Nav ul li{
float:left;
width:auto;
color:#ffffff;
font-weight:bold;
font-size:95%;
}


div#center_Nav ul li a:link{
color:#ffffff;
font-weight:bold;
display:block;
}

div#center_Nav ul li a:visited{
color:#ffffff;
font-weight:bold;
display:block;
}

div#center_Nav ul li a:hover{
color:#ffffff;
font-weight:bold;
text-decoration:underline;
display:block;
}

#nav_left{
padding:4px 26px 4px 20px;
margin:0px;
}


#nav_left.nav_left_curveUnslected{
	/*
appears to be from the previous release verify before removal 
background-image:url(/images/catalog/center_nav_leftcurvedUnslectedBg.jpg);
background-position:top left;
background-repeat:no-repeat;
*/}



/*
appears to be from the previous release verify before removal 
#nav_left.nav_left_curve_slected{
}

#nav_mid{
padding:4px 26px 4px 20px;
margin:0px;
}

#nav_mid.mid_nav_unslected{
}


#nav_mid.mid_nav_slected{
}
*/

#nav_right{
padding:4px 26px 4px 20px;
margin:0px;
}

/*
appears to be from the previous release verify before removal 

#nav_right.mid_nav_unslected{
}


#nav_right.mid_nav_slected{

}
*/

/****** secondary navagation *******/


div#c1_Subnav{
float:left;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 0px;
width:100%;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;

}

div#sortedBy{
float:left;
width:30%;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


div#c1_Subnav ul li{
float:left;
width:auto;
margin:0px 0px 0px 0px;
padding:3px 0px 3px 10px;
font-weight:bold;
font-size:88%;
}


div#c1_Subnav ul li a:link{
color:#085D94;
font-weight:bold;

}

div#c1_Subnav ul li a:visited{
color:#085D94;
font-weight:bold;

}

div#c1_Subnav ul li a:hover{
color:#085D94;
font-weight:bold;
text-decoration:underline;
}


div#c1_Subnav ul li a.sorted{
color:#08345A;
font-weight:bold;
}

div#c1_Subnav .subnav_title{
margin:0px 0px 0px 0px;
padding:4px 0px 0px 20px;
}


div#c1_Subnav .subnav_curent{
color:#336699;
color:#08345A;
background-image:url(/images/catalog/selected_arrow_dwn.jpg);
background-position: right 7px;;
background-repeat:no-repeat;
margin:0px 0px 0px 0px;
padding:4px 15px 0px 11px;

}

div#c1_Subnav .subnav_curent_up{
color:#336699;
background-image:url(/images/catalog/selected_arrow_up.jpg);
background-position: right 7px;;
background-repeat:no-repeat;
margin:0px 0px 0px 0px;
padding:4px 15px 0px 11px;

}

div#c1_Subnav .subnav_spacer{
color:#999;
color:#085D94; /*check on this ists beeing over ridden by the above in previous set up */
margin:0px 0px 0px 0px;
padding:3px 4px 3px 4px;
}


div#c1_Subnav .subnav_link{
color:#999;
margin:0px 0px 0px 0px;
padding:4px 4px 4px 4px;
}

div#Right_nav {
float:right;
margin:0;
padding:0px 0px 0 0;
/*width:175px;*/
width:230px;
}


div#Right_nav .Rnav_content_html dl{;
float:left;
margin:0px 0;
padding:0px 0px 10px 7px;
width:180px;
}


div#Right_nav .Rnav_content dl{;
float:left;
margin:0px 0;
padding:0px 0px 10px 0px;
width:180px;
}

.Rnav_content dl dt{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

.Rnav_content dl dd{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

Div#Right_nav .rnav_title{
	/*
background-image:url(/images/catalog/MS_rnavTop.jpg);
background-position:0px 0;
background-repeat:no-repeat;	
*/
padding:10px 0px 10px 0px;
margin:0px 0px 0px 0px;
font-size:115%;
font-weight:bold;
color:#014880;
text-align:center;
}

Div#Right_nav .rnav_end{
/*	background-image:url(/images/catalog/MS_rnavBottom.jpg);
background-position:0px 100%;
background-repeat:no-repeat;
*/
padding:0px 0px 10px 0px;
margin:0px 0px 0px 0px;
font-size:100%;
text-align:center;
color:#333;
}


Div#Right_nav p.rnav_text_links{
padding: 5px 0px 0px 20px;

}

Div#Right_nav .rnav_end p{
	font-size:80%;
font-weight:bold;

}
/*
possible previous release  verify the for deletion
*/

Div#Right_nav .rnav_title_halfpint{
/*background-image:url(/images/catalog/MS_rnavTop.jpg);
background-position:0px 0;
background-repeat:no-repeat;	*/

padding:10px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-size:100%;
font-weight:bold;
color:#014880;
text-align:center;
}

Div#Right_nav p.rnav_title_halfpint2{	
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-size:100%;
font-weight:bold;
color:#014880;
text-align:center;
}

Div#Right_nav span.reduced_size{
font-weight:normal;
}


div#Solutions_block .noimage_wrap{
float: left;
width: 500px;
}


#Left_nav h5 {
border-bottom:none;
font-size:100%;
margin:0;
padding:5px 0;
background-image:url(/images/catalog/leftNavDots.jpg);
background-position:0px 100%;
background-repeat:repeat-x;
}


/* top section header search btn */
/*
moved to header_foot.css

*/

#Left_nav h3 {
 
    border-bottom: medium none;
    font-size: 100%;
    margin: 10px 0px 0px 14px;
    padding: 10px 0px 5px 0px;
    width: 85%;
    float:left;
    border-top:1px solid #ffCC00;
}

div#FSP h2.Orange_header{
color:#CC6600;
font-weight:bold;
}


div#FSP h2.Blue_header{
color:#003399;
font-weight:bold;
}


/****************
Rotator 
***************/

div#c1 .slideWrap{
float:left;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}


div#RotatingBanner{
float:left;
width:735px;
margin:10px 0px 0px 0px;
padding:0px 0px 0px 0px;
*padding:0px 0px 8px 0px;

}

img{
border:none;
}

.slideshow{
float:left;
width:725px;
height:490px;
z-index:90;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}


.slideshow img{
border:none;
}




.f1{
	position:absolute;
	left :-10000px;
}

/******* Bread crumb ************/

div#Breadcrumbs{
float:left;
width:100%;
background-color: #FFFFFF;
}

.bread_nav{
float:left;
font-size:88%;
font-weight:400;
padding:14px 0px 8px 14px;
margin:0px 0px 0px 0px;
width:700px;

}

.bread_nav ul{
float:left;
width:100%;
}


.bread_nav ul li{
float:left;
padding:0 3px;
width:auto;
}

/* end bread crumb styles */

div#leftNav_linksWrap {
    float: left;
    margin: 0;
    padding: 0 0;
    width: 220px;
}

/* search buttion market sement page - removing underline */
div#Search_form2 a:{
	text-decoration:none;
}
div#Search_form2 a:hover{
	text-decoration:none;
}

/* Left navagation refine search buttion overrides - need to consoldate these in the new style sheet labled for cartdige. 
*/

div#Refine_form_wrap a:link {
    color: #043660;
    text-decoration: none;
}

div#Refine_form_wrap a:hover {
    color: #043660;
    text-decoration: none;
}

/*** hero Image Cartidge **/
.HeroImage{
float:left;
width:724px;
margin:0px 0px 15px 0px;

}

.HeroImage img{
border:none;
}


/*** HeroImageNarrow Cartidge **/
.HeroImageNarrow{
float:left;
width:483px;
margin:0px 0px 10px 0px;

}

.HeroImageNarrow img{
border:none;
}



/* GuidedNavigation cartidge */
div#GuidedNavigation{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

float:left;
Width:218px;

}

.leftNavWrap{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
float:left;
width:200px;
}

div#BrowsebyPublisher{
    float: left;
    margin: 0;
    padding: 0 0 8px;
    width: 220px;
}

div#BrowsebyPublisher h2 {
    background-color:#999;
}


/* main content section text area 5 possble boxes here */
/* start TitleText Cartridge section  */

.TitleText{
float:left;
width: 724px;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;
border-left:2px solid #d4d4d4;
border-right:2px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-color:#fff;
/*box-shadow:#999 4px 4px 3px; */

}

.TitleText h2{
    font-size: 100%;
    margin:0px;
    padding: 4px 0px 5px 10px;
    color: #000;
border-top:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-color:#fff;
}

.TitleText p{
padding:10px 0px 10px 10px;
 /*from photon 8 15 11*/
   width:97%;
/*  text-align: justify;*/
}

.QuickLinks{
    background-color: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    float: left;
    margin: 0 0 15px 0px;
    padding: 0;
    width: 721px;
    /*box-shadow:#999 4px 4px 3px; */
}

.QuickLinks h2{
 font-size: 100%;
    margin:0px;
    padding: 4px 0px 5px 10px;
    color: #000;
border-top:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-color:#fff;
}

.QuickLinks p{
padding:10px 0px 10px 10px;
}

.QuickLinks ul{
font-size:100%;
float:left;
width:100%;
 background-color: #FFFFFF;

 color:#000;
}

.QuickLinks ul li{
    float: left;
    margin: 0;
    padding: 5px 0 5px 10px;
   width:97%;

    
}

.QuickLinksNarrow ul{
font-size:100%;
float:left;
width:100%;
 background-color: #FFFFFF;
 color:#000;
 border-top: 2px solid #D4D4D4;
}

.QuickLinksNarrow ul li{
    float: left;
    margin: 0;
    padding: 5px 0 5px 10px;
   width:97%;

}

.RSS{
    background-color: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    float: left;
    margin: 0 0 15px 0px;
    padding: 0;
    width: 723px;
    }

.RSS h2{
  font-size: 115%;
    margin:0px;
    padding: 4px 0px 5px 10px;
    color: #000;
border-top:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-color:#fff;
}


/*this is the split section aditions */

.RSSSplit{
    background-color: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 0;
    width: 358px;
    
}

.RSSSplit h2{
  font-size: 115%;
    margin:0px;
    padding: 4px 0px 5px 10px;
    color: #000;
border-top:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;
background-color:#fff;
}

/* end split section aditions*/

.newsFeed_wrap{

}

.rssHeader{
margin:0px 0px 0px 10px;
padding:5px 10px 0px 0px;
font-size:100%;
font-weight:bold;

}

.rssBody{
margin:0px 0px 0px 0px;
padding:0px 10px 5px 10px;

}

.rssBody ul{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

div#rssFeed1 ul{
border-bottom: 0px solid #D4D4D4;
border-top: 0px solid #D4D4D4;
}

div#rssFeed1 ul li{
list-style-type: none;
 padding: 5px 0 5px 0px;
}


div#rssFeed2 ul li{
list-style-type: none;
 padding: 5px 0 5px 0px;
}

div#rssFeed3 ul li{
list-style-type: none;
 padding: 5px 0 5px 0px;
}

div#rssFeed4 ul li{
list-style-type: none;
 padding: 5px 0 5px 0px;
}

div#FSP #goTonews{
padding:5px 5px 5px 10px;
}



/* start TitleTextNarrow Cartridge  */

.TitleTextNarrow{
float:left;
width: 479px;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;
border:1px solid #d4d4d4;

background-color:#fff;



}

.TitleTextNarrow h2{
border-bottom:1px solid #d4d4d4;
background-color:#fff;
}

.TitleTextNarrow p{
padding:10px 0px 10px 10px;
   width:96%;
}

.QuickLinksNarrow{
    background-color: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    float: left;
    margin: 0 0 15px;
    padding: 0;
    width:479px;

}


.RSSNarrow{
    background-color: #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    float: left;
    margin: 0 0 15px 0px;
    padding: 0;
    width:479px;
  
}

.newsFeed_wrapNarrow{
border-top: 1px solid #D4D4D4;
}

div#FSP #goTonewsNarrow{
padding:5px 5px 5px 10px;
}

.Rnav_content img {
    border: medium none;
}

.HTMLButton img {
    border: medium none;
}

.SingleImage{
float:right;
margin:3px 0px 5px 0px;
padding:0px 0px 0px 0px;
width:229px;

}


/* RecordScrollBanner1 caridge */

div#RecordScrollBanner1 ,#RecordScrollBanner2 ,#RecordScrollBanner3 ,#RecordScrollBanner4 {
float:left;
width:724px;
Background-color:#ffffff;
margin:0px 0px 10px 0px;
height:280px;

border: 1px solid #FFCC00;
}

div#RecordScrollBanner h2{
color:#cc6633;
margin:0px 0px 0px 0px;
padding:10px 0px 5px 10px;
border-bottom: 1px solid #FFCC00;

}

div#RecordScrollBanner1 h2{
color:#cc6633;
margin:0px 0px 0px 0px;
padding:10px 0px 5px 10px;
}


div#RecordScrollBanner2 h2{
color:#cc6633;
margin:0px 0px 0px 0px;
padding:10px 0px 5px 10px;

}


div#RecordScrollBanner3 h2{
color:#cc6633;
margin:0px 0px 0px 0px;
padding:10px 0px 5px 10px;

}


div#RecordScrollBanner4 h2{
color:#cc6633;
margin:0px 0px 0px 0px;
padding:10px 0px 5px 10px;

}

.jcarousel-skin-tango{
border-bottom:1px solid #FFCC00;
}

.RSB_li{
float:left;
width:200px; 
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.RSB_li img{
float:left;
width:69px;
margin:17px 0px 10px 70px;
padding:0px 0px 0px 0px;

}

.RSB_li span{
float:left;
/*width:100%;*/
width:92%;
padding:2px 0px 1px 10px;
}

.RSB_li span.PT{
font-weight:bold;
width:90%;
height:30px;


}

.RSB_li_last{
float:left;
width:200px; 
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


.RSB_li_last img{
float:left;
width:69px;
margin:17px 0px 10px 54px;
padding:0px 0px 0px 0px;

}

.RSB_li_last span{
float:left;
width:100%;
padding:3px 0px 3px 10px;
}

.RSB_li_last span.PT{
font-size:115%;
font-weight:bold;
}

.RSB_li img{
border:none;
}
.RSB_li_last img{
border:none;
}

/*  NonRecordLeft Cartidge */

div#NonRecordLeftWrap{
margin:0px 0px 10px 8px;
padding:0px 0px 0px 0px;
float:left;
width:725px;
background-color:#ffffff;

}

div#NonRecordLeft{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:100%;
}

.NRimageLeft{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:278px;

}

.NRcontentLeft{
float:left;
margin:10px 10px 10px 10px;
padding:0px 0px 0px 0px;
width:420px;

}

div#NonRecordLeftWrap h2{
color:#cc6600;
font-size:120%;
margin:5px 0px 2px 0px;
padding:0px 0px 0px 0px;

}

div#NonRecordLeftWrap h3{

font-size:90%;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;

}

div#NonRecordLeftWrap span.SpanBold{
color:#000000;
font-weight:bold;
}

div#NonRecordLeftWrap ul{
float:left;
width:80%;
list-style-type:disc;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 10px;


}

div#NonRecordLeftWrap ul li{
	list-style-type:disc;
	margin-left:20px;
	
}

/*  NonRecordRight Cartidge */



.NonRecordLeftWrap{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
float:left;
width:725px;
background-color:#ffffff;
line-height:1.5em;
border-bottom:1px solid #ccc;

}

.NonRecordLeft{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:100%;
}

.NRimageLeft{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:278px;

}

.NRcontentLeft{
float:left;
margin:10px 10px 10px 10px;
padding:0px 0px 0px 0px;
width:420px;

}

.NonRecordLeftWrap h2{
color:#cc6600;
font-size:120%;
margin:5px 0px 2px 0px;
padding:0px 0px 0px 0px;

}

.NonRecordLeftWrap h3{

font-size:90%;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;

}

.NonRecordLeftWrap span.SpanBold{
color:#000000;
font-weight:bold;
}

.NonRecordLeftWrap ul{
float:left;
width:80%;
list-style-type:disc;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 10px;


}

.NonRecordLeftWrap ul li{
	list-style-type:disc;
	margin-left:20px;
	
}

/*  NonRecordRight Cartidge class version */


.NonRecordRightWrap{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
float:left;
width:725px;
background-color:#ffffff;
border-bottom:1px solid #ccc;
}

.NonRecordRight{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
width:100%;

}

.NRimageRight{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
width:278px;
}

.NRcontentRight{
float:left;
margin:10px 10px 10px 10px;
padding:0px 0px 0px 0px;
width:420px;

}

.NonRecordRightWrap h2{
color:#cc6600;
font-size:120%;
margin:5px 0px 2px 0px;
padding:0px 0px 0px 0px;

}

.NonRecordRightWrap h3{

font-size:90%;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;

}

.NonRecordRightWrap span.SpanBold{
color:#000000;
font-weight:bold;
}

.NonRecordRightWrap ul{
float:left;
width:80%;
list-style-type:disc;
margin:0px 0px 0px 10px;
padding:10px 0px 10px 10px;
}

.NonRecordRightWrap ul li{
	list-style-type:disc;
	margin-left:20px;
}

/*  NonRecordLeftNarrow Cartidge */

.NonRecordLeftWrapNarrow{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
float:left;
width:483px;
background-color:#ffffff;
}

.NonRecordLeftNarrow{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:100%;
border-bottom:1px solid #ccc;
}

.NRimageLeftNarrow{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:left;
width:134px;

}

.NRcontentLeftNarrow{
float:left;
margin:10px 10px 10px 10px;
padding:0px 0px 0px 0px;
width:300px;

}

div#FSP .NonRecordLeftWrapNarrow h2{
color:#cc6600;
font-size:120%;
margin:5px 0px 2px 0px;
padding:0px 0px 0px 0px;

}

div#FSP .NonRecordLeftWrapNarrow h3{

font-size:90%;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;

}

.NonRecordLeftWrapNarrow span.SpanBold{
color:#000000;
font-weight:bold;
}


div#FSP .NonRecordLeftWrapNarrow ul{
float:left;
width:80%;
list-style-type:disc;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 10px;
border-top:none;
border-bottom:none;
color: #666667;
}

div#FSP .NonRecordLeftWrapNarrow ul li{
	list-style-type:disc;
	float:left;
	width:80%;
	margin-left:20px;
	   padding: 2px 0 2px 0px;
}

/*  NonRecordRightNarrow Cartidge */

.NonRecordRightWrapNarrow{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 0px;
float:left;
width:483px;
background-color:#ffffff;
}

.NonRecordRightNarrow{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
width:100%;
border-bottom:1px solid #ccc;
}

.NRimageRightNarrow{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
width:150px;
}

.NRcontentRightNarrow{
float:left;
margin:10px 10px 10px 10px;
padding:0px 0px 0px 0px;
width:300px;
}

div#FSP .NonRecordRightWrapNarrow h2{
color:#cc6600;
font-size:120%;
margin:5px 0px 2px 0px;
padding:0px 0px 0px 0px;

}

div#FSP .NonRecordRightWrapNarrow h3{

font-size:90%;
margin:0px 0px 15px 0px;
padding:0px 0px 0px 0px;

}

.NonRecordRightWrapNarrow span.SpanBold{
color:#000000;
font-weight:bold;
}

div#FSP .NonRecordRightWrapNarrow ul{
float:left;
width:100%;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 0px;
border-top:none;
border-bottom:none;
color: #666667;
}

div#FSP .NonRecordRightWrapNarrow ul li{
	float:left;
	width:80%;
	list-style-type:disc;
	list-style-position:inside;
	margin-left:20px;
	   padding: 2px 0 2px 0px;
	
}

/* right navagation text ads */

.HTMLButton {
float:left;
width:230px;
background-color:#ffffff;
border:1px solid #D4D4D4;
margin:0px 0px 10px 0px;
padding:10px 0px 0px 0px;
*padding:10px 0px 10px 0px;

}

div#Right_nav .HTMLButton ul{
float:left;
width:85%;
margin: 10px 0 10px 0px;
padding:0px 0px 0px 20px;
} 

div#Right_nav .HTMLButton ul li{
list-style-type:none;
}


div#Right_nav .HTMLButton h2 a{
font-size:0.86em;
}

div#Right_nav .HTMLButton p{
float:left;
width:98%;
padding:10px 0px 10px 0px;
margin:0px 0px 0px 0px;

text-align:center;
}

div#Right_nav .HTMLButton ul li{

float:left;
width:90%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}


.leftNavImageLink{
float:left;
width:99%;

text-align:center;
}

.HTMLButton h2{
    color: #CC6600;
    font-size: 1.4em;
    margin: 10px 0 0 14px;
    padding: 5px 0;
    width: 85%;
    text-align:center;
}
/*end the right nav html box  styles */

/* roting Image styles */
div#RecordNum{
width:100px;
position:absolute;
top:219px;
*top:214px;
right:21px;
}

div#RecordNum ul{

    float: left;
    margin: 0;
    padding: 0;
    width: 109px;
}

div#RecordNum ul li{

    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 19px;
 
}


/* roting Image2 styles */
div#RecordNum2{
width:100px;
position:absolute;
top:218px;
*top:214px;
right:21px;
}

div#RecordNum2 ul{

    float: left;
    margin: 0;
    padding: 0;
    width: 109px;
}

div#RecordNum2 ul li{
  
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 19px;
   
}


/* roting Image3 styles */
div#RecordNum3{
width:100px;
position:absolute;
top:218px;
*top:214px;
right:21px;
}

div#RecordNum3 ul{

    float: left;
    margin: 0;
    padding: 0;
    width: 109px;
}

div#RecordNum3 ul li{
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 19px;
 
}

/* roting Image4 styles */
div#RecordNum4{
width:100px;
position:absolute;
top:218px;
*top:214px;
right:21px;
}

div#RecordNum4 ul{

    float: left;
    margin: 0;
    padding: 0;
    width: 109px;
}

div#RecordNum4 ul li{
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 19px;
}




/* right  navagation html buttion styles  */

.HTMLButtonLeftNav {
    float: left;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 200px;
     border: 1px solid #FFCC00;

    padding: 0;
    width: 219px;
}

div#Left_nav_Wrap .HTMLButtonLeftNav ul{
float:left;
width:99%;
margin:10px 0px 10px 15px;
padding:0px 0px 0px 0px;

} 

div#Left_nav_Wrap .HTMLButtonLeftNav h2 a{
font-size:0.86em;
}

div#Left_nav_Wrap .HTMLButtonLeftNav p{
float:left;
width:98%;
padding:10px 0px 10px 0px;
margin:0px 0px 0px 0px;

text-align:center;
}

div#Left_nav_Wrap .HTMLButtonLeftNav ul li{

float:left;
width:90%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;

}

.leftNavImageLink{
float:left;
width:99%;

text-align:center;
}
.HTMLButtonLeftNav h2{
    color: #CC6600;
    font-size: 1.5em;
    margin: 10px 0 0 14px;
    padding: 5px 0;
    width: 85%;
    text-align:center;
}

/*end the left nav html box  styles */

div#expBottomNav{
margin:0px 0px 0px 0px;
}


/* fixes the background image for the left navagation to be corect no matter what the size */

/* this readjusts the no result retuned search box text */
    .NoResult{
        	color: red;
        	font-style: italic;
        	list-style: none outside none; 
        	margin:0px 0px 0px 10px; 
        	padding: 0px 0px 0px 0px; 
        	font-size:125%;
        	width:100%;
        }
        
        
        
