@media(max-width: 767px){

	.NGLELTProductPage .productDetailsPadding {
	    padding: 0px 12px;
	}

	.productDetailsnav ul{
		margin: 0px;
	}

	.productDetailsnav .container{
		padding: 0px;
	}

	/*-- overview box--*/
	.overviewBox{
		height: auto;
	    width: 100%;
	    padding: 0px;
	}

	.eltBuyBox {
	    display: table;
	    margin: 0 auto;
	    float: none;
	}

	/*-- More Section --*/

	#EltmoreDetails .productDetailsPadding {
		padding: 0px;
	}

	.NGLELTProductPage  .titleMore{
		padding-left: 12px;
	}
	
	.moreAuthorImgContainer{
	    width: 40%;
	}

	.moreAuthorDescriptionContainer{
	    width: 60%;
	}

	.moreAuthorDescription{
		height: 108px;
		overflow: hidden;
	}

	.NGLELTProductPage .authorMoreBtn{
	    display: block;
	}

	.tableOfContentsBtn{
	    display: block;
	}

	.moreAuthorContainer {
		padding: 12px 12px 38px;
	}

	#productDetailsMorecontainer>li>a{
		padding: 11px 12px;
	}

	.tableOfContentsContainer {
		padding: 12px 12px 38px;
	}

	.tableOfContentsDescription{
		height: 108px;
		overflow: hidden;
	}
	/*-- ProductDetails Carousel --*/
	#productScrollContainer .left, #productScrollContainer .right{
		width: 6%;
	}

	/*-- Student Components --*/
	#studentsComponents{
	    padding-bottom: 10px;
	}
	.studentsComponentsHeading{
		text-align: left;
		padding-left: 10px;
	}
	.studentsComponentsDetailContainer{
		padding: 10px;
		height: auto;
	}

	/*-- Instructor Components --*/
	#instructorComponents{
	    padding-bottom: 10px;
	}

	.instructorComponentsHeading{
		text-align: left;
		padding-left: 10px;
	}
	.instructorComponentsDetailContainer{
		padding: 10px;
		height: auto;
	}

	/*-- Alternate Formats --*/
	#alternateFormats{
	    padding-bottom: 10px;
	}

	.alternateFormatsHeading{
		text-align: left;
		padding-left: 10px;
	}

	.alternateFormatsSubHeading{
		text-align: left;
		padding-left: 10px;
	}

	.alternateFormatsDetailContainer{
		padding: 10px;
		height: auto;
	}

	/*-- Best Buy --*/
	#bestBuy{
	    padding-bottom: 10px;
	}

	.bestBuyHeading{
		text-align: left;
		padding-left: 10px;
	}

	.bestBuySubHeading{
		text-align: left;
		padding-left: 10px;
	}

	.bestBuyDetailContainer{
		padding: 10px;
	}

	/*-- ProductDetails Carousel --*/
	#relatedProgramCarouselContainer .left, #relatedProgramCarouselContainer .right{
		width: 6%;
	}
	
	/*-- Companion site --*/

	.NGLELTProductPage #companionSitecontainer>li a{
		padding: 10px 0px;
	}

	.NGLELTProductPage .companionSiteSubmenu li a{
		padding: 10px 0px;
	}

	/*-- Series Custom Tab --*/
	.NGLELTProductPage .seriesCustomTab2{
	    padding: 20px 0px;
	}

	.NGLELTProductPage .seriesCustomTab2Heading{
		font-size: 20px;
		color: rgb(255, 255, 255);
		line-height: 1.35;
	}

	/*---- story block section ---*/
	.NGLELTProductPage .storyBlockContainer{
		padding: 0 12px;
	}
	
	#productDetailsSection {
		top: 72px;
	}
	#productDetailsMenuMainContainer{
		top: 71px;
	}
	.NGLELTProductPage #relativeSectionContainer{
		margin-top: 44px;
	}

}

@media(max-width: 350px){
	.moreAuthorImgContainer{
	    width: 45%;
	}

	.moreAuthorDescriptionContainer{
	    width: 55%;
	}
}