section{
	position: relative;
	float: left;
	width: 100%;
}

.pageContainer{
    display: initial;
}

.seriesContainer,.productDetailsPadding{
    padding: 0px 65px;
}

#relativeSectionContainer{
    margin-top: 44px;
    position: relative;
    float: left;
    width: 100%;
}

#subSeriesGroupContainer .subseriesGroupPadding, #barSeriesMenuContainer .subseriesGroupPadding,
#customTab .subseriesGroupPadding, .seriesCustomTab2 .subseriesGroupPadding, #companionSiteMenu .subseriesGroupPadding{
    padding:10px 65px;
}

.modal-body button.close {
    color: #000;
    background-color: transparent;
    height: 15px;
    position: absolute;
    right: 1px;
    margin: -8px 6px 4px 0px;
}

.modal-content button[data-dismiss="modal"]:before {
    content: "\f00d";
    font-size: 18px;
    font-family: FontAwesome;
}

/* -- program info section --*/

.programInfonav .navbar{
    margin: 0px;
}

.programInfonav .navbar-header {
    float: none;
}
.programInfonav .navbar-toggle {
    display: block;
}
.programInfonav .navbar-collapse.collapse {
    display: none!important;
}
.programInfonav .navbar-collapse.collapse.in {
    display: block!important;
}
.programInfonav .navbar-nav {
    float: none!important;
}
.programInfonav .navbar-nav>li {
    float: none;
    z-index: 1;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
}


#programInfoSection{
    border-radius: 3px;
    background-color: rgb(255, 204, 0);
    height: 44px;
    position: fixed;
    z-index: 9;
    top: 71px;
}

#programInfoMenuMainContainer {
    position: fixed;
    margin-top: 44px;
    z-index: 9;
}

#programInfoButtonContainer{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 2.4;
    text-align: left;
    float: left;
}

#programInfoButtonContainer .navbar-toggle{
    padding: 0px;
    margin: 0px;
}

#programInfoMenucontainer{
    padding: 0px;
    position: absolute;
    width: 100%;
    max-height: 500px;
    overflow-y: auto !important;
}

#programInfoMenucontainer>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(224, 221, 206);
    /*height: 42px;*/
    margin-top: 2px;
}

#programInfoMenucontainer>li:hover, #programInfoMenucontainer>li:focus, 
#programInfoMenucontainer>li a:hover, #programInfoMenucontainer>li a:focus{
    border-radius: 3px;
    background-color: rgb(128, 125, 117);
    font-size: 16px;
    color: rgb(255, 255, 255);
}

#programInfoMenucontainer li a{
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#programInfoMenucontainer .companionSiteMenu{
background-color: rgb(184, 119, 15);
}

#programInfoMenucontainer .companionSiteMenu a{
    color: rgb(255, 255, 255);
}
#programInfoMenucontainer .companionSiteMenu:hover, #programInfoMenucontainer .companionSiteMenu:focus,
#programInfoMenucontainer .companionSiteMenu a:hover, #programInfoMenucontainer .companionSiteMenu a:focus{
    background-color: rgb(128, 83, 10);
}

/*#programInfoMenucontainer .menuLinksText{
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}*/

.programInfoSubmenu{
    padding: 0px;
}

#programInfoMenucontainer .programInfoSubmenu>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    /*height: 42px;*/
    margin-top: 2px;
}

#programInfoMenucontainer .programInfoSubmenu a{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

#programInfoMenucontainer .programInfoSubmenu>li:hover, #programInfoMenucontainer .programInfoSubmenu>li:focus, 
#programInfoMenucontainer .programInfoSubmenu>li a:hover, #programInfoMenucontainer .programInfoSubmenu>li a:focus{
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgb(137, 137, 137);
}

/* Series banner section */

#seriesBanner{
    /*background-image: none;*/
    background: #000 center no-repeat;
}

#seriesBanner .superheroImg{
   /* height: 100%;*/
    /*width: 100%;*/
    margin: 0 auto;
    display: block;
}

.heroOverlay{
    background-color: rgba(0, 0, 0,0.349);
    position: absolute;
    bottom: 0px;
}

.heroOverlayText{
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 1.071;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1056px;
    margin: 10px auto;
    font-weight: 400;
}

/*-- Reasons To Choose section --*/

#reasonsToChoose{
    padding-top: 17px;
    padding-bottom: 17px;    
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.3;
    text-align: left;
}

.reasonsToChooseHeading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: bolder;
    /*margin-bottom: 10px;*/
}

#reasonsToChoose ul {
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.7;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}

#reasonsToChoose p{
     font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.3;
    text-align: left;
}

/*-- Grades K-6 section --*/
#gradesK6 {
    padding-bottom: 30px;
}

.gradesImgContainer{
	width: 100%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}
.gradesK6Title{
	font-size: 20px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	margin-bottom: 20px;
}
.gradesK6Img{
	width: 18%;
	display: inline-block;
	margin: 10px;
}

.gradesK6Img img{
	width: 100%;
}

.requestSampleBtn{
	font-size: 15px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	background-color: rgba(255, 204, 0, 0.502);
	width: 47%;
	display: inline-block;
	border-radius: 20px;
	padding: 7px 0px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.requestSampleBtn:hover, .requestSampleBtn:focus{
	font-size: 15px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
}

/*-- Subseries group --*/
#subSeriesGroup {
    padding-top: 20px;
}

#subSeriesGroupContainer{
    padding: 0px;
}

.subseriesGroupDetailContainer{
    display: inline-block;
    width: 100%;
}

#subSeriesGroupContainer>li a{
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#subSeriesGroupContainer>li{
margin-top: 2px;
}

#subSeriesGroupContainer>li a:hover, #subSeriesGroupContainer>li a:focus{
    color: rgb(51, 51, 51);
}

#subSeriesGroupContainer li{
	border-radius: 3px;
  background-color: rgba(255, 204, 0, 0.502);
}

#subSeriesGroupContainer .subSeriesGroupSubmenu{
    padding: 0px;
}

#subSeriesGroupContainer .subSeriesGroupSubmenu>li{
    background-color: rgb(247, 244, 228);
    display: inline-block;
    width: 100%;
}

.subSeriesGroupImg{
    width: 100%;
}

.subSeriesGroupImgCaption{
    font-size: 16px;
    color: rgb(102, 102, 102);
    font-style: italic;
    line-height: 1.875;
    text-align: right;
}

.subSeriesGroupTitle{
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subseriesGroupDetailDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#subSeriesGroup .subSeriesGroupBtn{
    border: 1px solid rgb(0, 114, 163);
    background-color: rgb(255, 255, 255);
    width: 80%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    display: inline-block;
    border-radius: 14px;
    margin: 40px 0px;
}

#subSeriesGroup .subSeriesGroupBtn:hover. #subSeriesGroup .subSeriesGroupBtn:focus{
    color: rgb(0, 0, 0);
}

/*-- Assessment Section --*/
#assessment{
    margin-top: 2px;
    background-color: rgb(230, 230, 227);
    padding-top: 25px;
    padding-bottom:70px;
}

.assessmentHeading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 25px;
    font-weight: bold;

}

.assessmentImg{
    width: 100%;
    margin-bottom: 30px;
}

#assessment .srs_pullquotesmall, #assessment .srs_pullquotelarge{
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    /*padding-top: 30px;*/
    /*padding-bottom: 12px;*/
}

#assessment .srs_headC{
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 900;
    /*padding-top: 30px;*/
   /* padding-bottom: 12px;*/
}

#assessment .srs_body, #assessment p, #assessment{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#assessment ul.srs_bulletbody, #assessment ul{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.7;
    text-align: left;
    padding-left: 20px;
}


/*-- Technology Section --*/
#technology{
    margin-top: 2px;
    background-color: rgb(230, 230, 227);
    padding-top: 25px;
    padding-bottom:70px;
}

.technologyHeading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 25px;
    font-weight: bold;

}

.technologyImg{
    width: 100%;
    margin-bottom: 30px;
}

#technology .srs_pullquotesmall, #technology .srs_pullquotelarge{
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    /*padding-top: 30px;
    padding-bottom: 12px;*/
}

#technology .srs_body, #technology p, #technology {
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#technology ul.srs_bulletbody, #technology ul{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.7;
    text-align: left;
    padding-left: 20px;
}

#technology .srs_headC{
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 900;
    /*padding-top: 30px;*/
   /* padding-bottom: 12px;*/
}

/*-- barSeriesMenu Section --*/
#barSeriesMenuContainer{
    padding: 0px;
}

#barSeriesMenuContainer>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(153, 151, 141);
    margin-top: 2px;
}

#barSeriesMenuContainer>li a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.barSeriesMenuSubmenu{
    padding: 0px;
}

.barSeriesMenuSubmenu>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 2px;
}

.barSeriesMenuSubmenu>li a{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

/*-- Related Programs section --*/

#relatedPrograms{
    padding: 24px 0px;
}

.relatedProgramsHeading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
}

/*-- Related Programs Scroll section --*/

#relatedProgramsContainer {
    margin-top: 20px;
}
#relatedProgramsContainer .item img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 201px;
}

#relatedProgramsContainer .owl-stage{
    margin: 0 auto;
}

.owl-controls{
    position: absolute;
    width: 100%;
    top: 46px;
}

.owl-prev{
    text-align: left;
}

.owl-next{
    text-align: right;
}

#relatedProgramsContainer .left, #relatedProgramsContainer .right {
    background-image: none;
    font-size: 60px;
    width: 3%;
    padding-top: 0%;
    opacity: 1;
    color: #000000;
}

#relatedProgramsContainer .item a{
    display: inline-block;
    width: 280px;
    text-decoration: none;
}
#relatedProgramsContainer .item p{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}

#relatedProgramsContainer .item h2{
    font-size: 20px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

/* view e-sample modal*/
#viewesamleModal .modal-header{
    background-color: rgb(0, 114, 163);
    color: #ffffff;
}

#viewesamleModal .modal-header .close{
    line-height: 5px;
    margin-top: 0px;
}

div.required-field label::before {
    content: "*";
    /*float: left;*/
    color: red;
    text-align: center;
}

#viewesamleModal .modal-footer .btn-primary{
    background-color: transparent;
    border-color: rgb(0, 114, 163);
    color: rgb(0, 114, 163);
}

#viewesamleModal .modal-footer .btn-primary:hover{
    background-color: #3071a9;
    color: #ffffff
}

#viewesamleModal .form-group {
    margin-bottom: 15px;
    text-align: left;
}

/*-- Custom tab html --*/
.customTabHtml{
    margin-top: 2px;
    background-color: rgb(230, 230, 227);
    padding-top: 25px;
    padding-bottom:70px;
}

.customTabHtml .heading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 25px;
    font-weight: 600;

}

.customTabHtml p, .customTabHtml{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

.customTabHtml ul{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.7;
    text-align: left;
    padding-left: 20px;
}

/*-- Custom tab --*/
.seriesCustomTab{
    padding: 24px 0px;
    background-color: rgb(102, 60, 81);
}

.seriesCustomTabHeading{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;
}

.seriesCustomTab .video-container.vidyard-video{
	width: inherit !important;
}

.seriesCustomTab .video-container.vidyard-video iframe{
	border-radius: 10px;
}

.seriesCustomTab .vidyard-video h2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.seriesCustomTab .vidyard-video p{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

/*-- Series Custom Tab 2 Section --*/

.seriesCustomTab2{
    padding: 60px 0px;
    background-color: rgb(0, 98, 140);
    margin-top: 2px;
}

.seriesCustomTab2Heading{
    font-size: 42px;
    color: rgb(255, 255, 255);
    line-height: 0.643;
    text-align: center;
    padding-bottom: 15px;
}

.seriesCustomTab2Img {
    margin: 0 auto;
    margin-top: 25px;
}


/*---- story block section ---*/

.storyBlockContainer{
    max-width: 1056px;
    margin: 0 auto;
}

.story-block {
    margin-top: 24px;
    /*margin-bottom: 24px;*/
    overflow: hidden;
    text-align: center;
}

.story-block .block:first-of-type {
    margin-left: 0;
}

.story-block .block {
    background: #FFF;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 4px;
    display: inline-block;
   /* min-height: 260px;*/
    padding: 20px 0px;
    margin: 0 .2% 20px;
    text-align: center;
    vertical-align: top;
    max-width: 345px;
    width: 100%;
}

.story-block .block a{
    display: block;
    text-decoration: none;
}

.story-block .block a.blockImgContainer{
    min-height: 92px;
}

.story-block .block a.blockImgContainer img{
    margin-left: auto;
    margin-right: auto;
}

.storyBlockContainer .story-block .block h3{
    font-size: 32.323px;
    color: #951700;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
    -webkit-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
    -ms-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
}

.storyBlockContainer .story-block .block .blockImgInnerContainer{
    font-size: 62px;
    color: rgb(27, 98, 178);
    line-height: 1.048;
    text-align: center;
    font-weight: 700;
}

/*-- Companion site --*/

#companionSite{
    margin-top: 2px;
}

#companionSitecontainer{
    padding: 0px;
}

#companionSitecontainer>li{
    border-radius: 3px;
    background-color: rgb(184, 119, 15);
    margin-top: 2px;
}

#companionSitecontainer>li a{
    font-size: 17px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}

#companionSitecontainer>li a:hover, #companionSitecontainer>li a:focus{
    text-decoration: none;
}

.companionSiteSubmenu{
    padding: 0px;
}

.companionSiteSubmenu .productDetailsPadding{
     padding-bottom: 14px;
}

.companionSiteSubmenu li{
    margin-top: 2px;
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.companionSiteSubmenu li a{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
}

.companionSiteSubmenu li a:hover, .companionSiteSubmenu li a:focus{
    text-decoration: none;
}

/*-- companion site menu --*/
/*#companionSiteMenuContainer{
    padding: 0px;
}

#companionSiteMenuContainer>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(224, 221, 206);
    margin-top: 2px;
}

#companionSiteMenuContainer>li:hover{
    background-color: rgb(184, 119, 15);
}

#companionSiteMenuContainer>li a{
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#companionSiteMenuContainer>li a:hover{
  color: rgb(255, 255, 255);
}
*/
/*--Authors Section--*/
#authors{
    padding:15px 0px;
    background-color: rgb(230, 230, 227);
}

.authorsHeading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
}

/*.authorContainer{
    position: relative;
    float: left;
    width: 50%;
    background-color: rgb(230, 230, 227);
    padding: 12px 21px 35px 0px;
}*/

.authorContainer{
    position: relative;
    float: left;
    width: 50%;
    background-color: rgb(230, 230, 227);
    padding: 0px 12px 0px 0px;
    margin-bottom: 20px;
}

.authorImgContainer{
    position: relative;
    float: left;
    width: 20%;
    margin-right: 5%
}

.authorDescriptionContainer.fullWidth{
    width: 100%;
}

.authorDescriptionContainer {
	height: 132px;
}

.authorDescriptionContainer{
    position: relative;
    float: left;
    width: 75%;
    /*padding-left: 5%;*/
}

.authorTitle{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 5px;
}

.authorDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
    margin-top: 2px;
}

.authorMoreBtn{
    font-size: 15px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: left;
    display: none;
    margin-top: 7px;
}

/*-- See level section --*/
#seeLevel {
    padding: 10px 0px;
}

.seeLevelTitle{
	font-size: 20px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	margin-bottom: 20px;
    font-weight: 600;
}

#seeLevelContainer {
    margin-top: 20px;
}
#seeLevelContainer .item img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 201px;
}

#seeLevelContainer .owl-stage{
    margin: 0 auto;
}

.owl-controls{
    position: absolute;
    width: 100%;
    top: 92px;
}

.owl-prev{
    text-align: left;
}

.owl-next{
    text-align: right;
}

#seeLevelContainer .left, #seeLevelContainer .right {
    background-image: none;
    font-size: 60px;
    width: 3%;
    padding-top: 5%;
    opacity: 1;
    color: #000000;
}

#seeLevelContainer .item a{
    display: inline-block;
    width: 280px;
    text-decoration: none;
}
#seeLevelContainer .item .seeLevelCarouselDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

#seeLevelContainer .item .published{
	font-size: 15px;	
	font-weight: lighter;
	color: rgb(102, 102, 102);
	line-height: 1.333;
	text-align: left;
}

#seeLevelContainer .item h2{
    font-size: 20px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.seeAllSeriesTitlesBtn{
    background-color: rgb(0, 114, 163);
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    width: 90%;
    display: inline-block;
    border-radius: 20px;
    padding: 7px 0px;
    margin: 20px auto;
}

.seriesViewESampleBtn{
    background-color: rgb(255, 204, 0);
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    width: 90%;
    display: inline-block;
    border-radius: 20px;
    padding: 7px 0px;
    margin: 20px auto;
}

.seeAllSeriesTitlesBtn:hover, .seeAllSeriesTitlesBtn:focus{
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}