.NGLSchoolProductPage #relativeSectionContainer{
    margin-top: 44px;
    position: relative;
    float: left;
    width: 100%;
}

section{
	position: relative;
	float: left;
	width: 100%;
}

.NGLSchoolProductPage .productDetailsPadding{
    padding: 0px 70px;
}

.NGLSchoolProductPage .row {
    margin: 0px;
    width: 100% !important;
    height: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0px;
}

.NGLSchoolProductPage .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.NGLSchoolProductPage .moreBtn{
    font-size: 15px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    margin-top: 7px;
}

.NGLSchoolProductPage .modal-body button.close {
    color: #000;
    background-color: transparent;
    height: 15px;
    position: absolute;
    right: 1px;
    margin: -8px 6px 4px 0px;
}

.NGLSchoolProductPage .modal-content button[data-dismiss="modal"]:before {
    content: "\f00d";
    font-size: 18px;
    font-family: FontAwesome;
    font-style: normal;
}

.overViewMoreBtn {
    font-size: 15px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    margin-top: 7px;
}

/*.overviewModalContent{
    float: none;
    margin-top: 20px;
    padding: 0px;
    overflow-y: auto;
    height: 400px;
}*/

/* -- productDetails section --*/

.productDetailsnav .navbar{
    margin: 0px;
}

.productDetailsnav .navbar-header {
    float: none;
}
.productDetailsnav .navbar-toggle {
    display: block;
}
.productDetailsnav .navbar-collapse.collapse {
    display: none!important;
}
.productDetailsnav .navbar-collapse.collapse.in {
    display: block!important;
}
.productDetailsnav .navbar-nav {
    float: none!important;
}
.productDetailsnav .navbar-nav>li {
    float: none;
    z-index: 1;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
}


#productDetailsSection{
    border-radius: 3px;
    background-color: rgb(255, 204, 0);
    height: 44px;
    position: fixed;
    z-index: 9;
    top: 71px;
}

#productDetailsButtonContainer{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 2.4;
    text-align: left;
    float: left;
}

#productDetailsButtonContainer .navbar-toggle{
    padding: 0px;
    margin: 0px;
}

#productDetailsMenuMainContainer{
    position: fixed;
    z-index: 99;
    top: 71px;   
}
#productDetailsMenucontainer{
    padding: 0px;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 45px;
    max-height: 500px;
    overflow-y: auto !important;
}

#productDetailsMenucontainer>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(224, 221, 206);
    height: 42px;
    margin-top: 2px;
}

#productDetailsMenucontainer>li:hover, #productDetailsMenucontainer>li:focus, 
#productDetailsMenucontainer>li a:hover, #productDetailsMenucontainer>li a:focus{
	border-radius: 3px;
	background-color: rgb(128, 125, 117);
	font-size: 16px;
	color: rgb(255, 255, 255);
}

#productDetailsMenucontainer li a{
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#productDetailsMenucontainer .companionSiteMenu{
background-color: rgb(184, 119, 15);
}

#productDetailsMenucontainer .companionSiteMenu a{
	color: rgb(255, 255, 255);
}
#productDetailsMenucontainer .companionSiteMenu:hover, #productDetailsMenucontainer .companionSiteMenu:focus,
#productDetailsMenucontainer .companionSiteMenu a:hover, #productDetailsMenucontainer .companionSiteMenu a:focus{
	background-color: rgb(128, 83, 10);
}
/*#productDetailsMenucontainer .menuLinksText{
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

#productDetailsMenucontainer .menuLinksText:hover{
	font-size: 16px;
	color: rgb(255, 255, 255);
}*/

.productDetailsSubmenu{
    padding: 0px;
}

#productDetailsMenucontainer .productDetailsSubmenu>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    height: 42px;
    margin-top: 2px;
}

#productDetailsMenucontainer .productDetailsSubmenu>li a{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

#productDetailsMenucontainer .menuLinksIcon{
    border: 1px solid #666666;
}

#productDetailsMenucontainer .productDetailsSubmenuChild>li{
    border-radius: 3px;
    background-color: rgb(176, 168, 139);
    margin-top: 2px;
}

#productDetailsMenucontainer .productDetailsSubmenuChild>li>a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding: 8px;
}

#productDetailsMenucontainer .productDetailsSubmenu>li:hover, #productDetailsMenucontainer .productDetailsSubmenu>li:focus, 
#productDetailsMenucontainer .productDetailsSubmenu>li a:hover, #productDetailsMenucontainer .productDetailsSubmenu>li a:focus{
	font-size: 16px;
	color: rgb(255, 255, 255);
	border-radius: 3px;
	background-color: rgb(137, 137, 137);
}


/*-- Overview Section k12 --*/
.overviewTitle{
    font-size: 24px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0px;
}
/*-- overview box--*/
#EltProductDetailOverview .EltProductDetailOverviewContentContainer{
    margin-top: 10px;
    padding-top: 10px;
}
.overviewBox{
    height: 300px;
    padding-right: 20px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    width: 100%;
}

.overviewImgContainer{
    width: 209px;
    height: 262px;
}

.overviewImgContainer img{
    width: 100%;
}


.overviewModalContent .overviewBox{
    float: none;
    margin-top: 20px;
    padding: 0px;
    overflow-y: auto;
    height: 300px;
}

.overViewMoreBtn {
    font-size: 15px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    margin-top: 7px;
}

.overviewBoxTitle{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px;
}

.overviewBox .overviewDetails{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

.overviewAuthor .overviewDetails{
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    font-weight: lighter;
    color: rgb(102, 102, 102);
}

.levels, .levels a{
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

.overviewBold{
    font-weight: 600;
    color: rgb(0, 0, 0 );
}

.eltBuyBox{
    width: 250px;
    /*height: 256px;*/
    position: relative;
    float: left;
    border: 1px solid green;
}

.eltBuyBox>a{
    display: inline-block;
    width: 100%;
}

.eltBuyBox a img{
    margin: 0 auto;
    display: block;
}

.eltBuyBox ul{
    float: left;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    list-style: none;
}

.eltBuyBox ul li {
    border-bottom: 1px solid #CCC;
    line-height: 16px;
    margin: 0 10px;
    padding: 5px;
    font-weight: 600;
}

.eltBuyBox ul li:last-of-type {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

.eltBuyBox ul li .right {
    font-weight: 700;
    text-align: right;
}

.right {
    float: right;
}

.eltBuyBox .button {
    background: #FEFEFE;
    background: url(https://www.cengage.com/images/headerFooter/btnBackgroundImage.jpg);
    background: -moz-linear-gradient(top, #FEFEFE 0%, #D4D4D4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#D4D4D4));
    background: -webkit-linear-gradient(top, #FEFEFE 0%,#D4D4D4 100%);
    background: -o-linear-gradient(top, #FEFEFE 0%,#D4D4D4 100%);
    background: -ms-linear-gradient(top, #FEFEFE 0%,#D4D4D4 100%);
    background: linear-gradient(top, #FEFEFE 0%,#D4D4D4 100%);
    float: right;
    margin: 0 10px 0 0;
    min-width: 30%;
    padding: 0 20px;
    text-decoration: none;
}

.eltBuyBox .button {
    border: 1px solid #ccc;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0 0 0 #FFF;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 26px;
    /*margin-bottom: 20px;*/
    text-align: center;
}

#EltProductDetailOverview .requestSampleBtn{
    background-color: rgba(255, 204, 0, 0.502);
    height: 28px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 28px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    max-width: 280px;
    margin-top: 30px;
}


#EltProductDetailOverview .requestSampleBtn:hover, #EltProductDetailOverview .requestSampleBtn:focus{
    color: rgb(0, 0, 0);
    outline: none;
}

#EltProductDetailOverview .overviewBuyBtn{
    font-size: 18px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    border: 1px solid rgb(0, 114, 163);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    max-width: 280px;
    margin-top: 30px;
    height: 28px;
}

#EltProductDetailOverview .overviewBuyBtn:hover, .overviewBuyBtn:focus{
    color: rgb(0, 114, 163);
    outline: none;
}

/*request sample dropdown button style*/
.requestSampleDropDownMainContainer{
    text-align: center;
    margin-top: 20px;
}

.productHeadingContainer #requestSampleDropDowncontainer{
    width: 72%;
    float: right;
}

#requestSampleDropDowncontainer{
    padding: 0px;
    z-index: 1;
}

#requestSampleDropDowncontainer>.requestSampleBtnContainer{
    z-index: 9;
}

#EltProductDetailOverview .requestSampleBtnDropDown{
    background-color: rgba(255, 204, 0, 1);
    height: 28px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    /*line-height: 28px;*/
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    padding: 0px;
    z-index: 9;
}

#EltProductDetailOverview .requestSampleBtnDropDown:hover{
    background-color: rgb(199, 172, 64);
    /*color: #ffffff;*/
}
#requestSampleDropDowncontainer>li a{
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    width: 100%;    
    padding: 0px;
}

.requestSampleBtnDropDown .requestSampleLinksIcon{
    float: right;
    margin-right: 21px;
    font-size: 20px;
    line-height: 30px;
}

.requestSampleDropDownMainContainer.open .requestSampleBtnDropDown .requestSampleLinksIcon{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.requestSampleBtnDropDown .menuLinksText{
    display: inline-block;
    margin-left: 35px;
    text-align: left;
	float: left;
}

#requestSampleDropDowncontainer #requestSampleSubmenu1{
    padding-top: 7px;
    /*padding-bottom: 7px;*/
    overflow: hidden !important;
}

#requestSampleDropDowncontainer .requestSampleSubmenu {
    padding: 0px;
    position: absolute;
    width: 100%;
    background-color: rgb(0, 114, 163);
    background-color: rgb(110, 112, 113);
    border-radius: 5px 5px 5px 5px;
    margin-top: -20px;
    z-index: -1;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li:first-child {
    margin-top: 20px;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li{   
    margin: 0 auto;
    margin-top: 2px;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li:hover{
    background-color: rgb(0, 114, 163);
}

#requestSampleDropDowncontainer .requestSampleSubmenu li a{
    padding: 4px 10px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    text-align: center;    
    font-size: 14px;
    color: #ffffff;
    /*margin-left: 12px;*/
}

#requestSampleDropDowncontainer .requestSampleSubmenu .menuLinksText{
	margin-left: 0px;
    display: inline-block;
    width: 100%;
    padding-right: 21px;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li a:hover{
    color: #ffffff;
    text-decoration: underline;
    background-color: rgb(0, 114, 163);
}

#EltProductDetailOverview #viewesamleModal + .overviewBuyBtn{
    font-size: 18px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    border: 1px solid rgb(0, 114, 163);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    height: 28px;
    max-width: 100%;
}

/* view e-sample modal*/
.NGLSchoolProductPage #viewesamleModal .modal-header{
    background-color: rgb(0, 114, 163);
    color: #ffffff;
}

.NGLSchoolProductPage #viewesamleModal .modal-header .eSampleHeader {
    font-size: 18px;
    text-align: center;
}

.NGLSchoolProductPage #viewesamleModal .modal-header .close{
    line-height: 5px;
    margin-top: -13px;
}

.NGLSchoolProductPage div.required-field label:first-child::before {
    content: "*";
    /*float: left;*/
    color: red;
    text-align: center;    
}

.NGLSchoolProductPage div.required-field label:first-child{
    display: block;
}

.NGLSchoolProductPage #viewesamleModal .ageCheckHeading{
    display: inline-block;
}

.NGLSchoolProductPage #viewesamleModal .optoutContent{    
    line-height: 15px;
}

.NGLSchoolProductPage #viewesamleModal .modal-footer .btn-primary{
    background-color: transparent;
    border-color: rgb(0, 114, 163);
    color: rgb(0, 114, 163);
}

.NGLSchoolProductPage #viewesamleModal .modal-footer .btn-primary:hover{
    background-color: #3071a9;
    color: #ffffff
}

.NGLSchoolProductPage #requestSampleDropDowncontainer .dropdown-backdrop{
	display: none;
}

#fooDiv{
display: none;
}

/*request sample collapse button style*/
/*.requestSampleDropDownMainContainer{
    text-align: center;
    margin-top: 20px;
}

#requestSampleDropDowncontainer{
    padding: 0px;
}

#requestSampleDropDowncontainer>.requestSampleBtnContainer{
    z-index: 9;
}

#EltProductDetailOverview .requestSampleBtnDropDown{
    background-color: rgba(255, 204, 0, 1);
    height: 28px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 28px;
    text-align: left;
    display: inline-block;
    width: 100%;
    border-radius: 15px;    
}

#EltProductDetailOverview .requestSampleBtnDropDown:hover{
    background-color: rgb(199, 172, 64);    
}

#requestSampleDropDowncontainer>li a{
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    width: 100%;    
    padding: 0px;
}

.requestSampleBtnDropDown .requestSampleLinksIcon{
    float: right;
    margin-right: 21px;
    font-size: 20px;
    line-height: 30px;
}

.requestSampleBtnDropDown .menuLinksText{
    display: inline-block;
    margin-left: 28px;
    text-align: left;
}

#requestSampleDropDowncontainer #requestSampleSubmenu1{
    padding-top: 7px;    
    overflow: hidden !important;
}

#requestSampleDropDowncontainer .requestSampleSubmenu {
    padding: 0px;
    position: absolute;
    width: 100%;
    background-color: rgb(0, 114, 163);
    background-color: rgb(110, 112, 113);
    border-radius: 5px 5px 5px 5px;
    margin-top: -20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li:first-child {
    margin-top: 14px;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li{   
    margin: 0 auto;
    margin-top: 2px;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li:hover{
    background-color: rgb(0, 114, 163);
}

#requestSampleDropDowncontainer .requestSampleSubmenu li a{
    padding: 4px 10px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    text-align: left;    
    font-size: 14px;
    color: #ffffff;
    margin-left: 12px;
}

#requestSampleDropDowncontainer .requestSampleSubmenu li a:hover{
    color: #ffffff;
    text-decoration: underline;
}

#EltProductDetailOverview .requestSampleDropDownMainContainer + .overviewBuyBtn{
    font-size: 18px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    border: 1px solid rgb(0, 114, 163);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    height: 28px;
    max-width: 100%;
}*/

/*-- Overview Section k8 --*/

.EltProductDetailInnerPadding{
    padding: 0px 21px;
}

#EltProductDetailOverview{
    padding: 25px 0px 25px;
}


#productOverview{
    padding: 30px 0px;
}

.productOverviewContainer {
    max-width: 786px;
}

.productImgContainer {
    width: 209px;
    height: 262px;
    margin-right: 3%;
    position: relative;
    float: left;
}

.productHeadingContainer{
    position: relative;
    float: left;
    /*width: 81%;*/
    width: 68%;
}

img.productImg {
    float: left;
    width: 100%;
}

.float-right{
    float: right;
}

.productTitle {
    font-size: 24px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0px;
}

.productISBN, .productPrice {
    font-size: 12px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 10px;
}

.productPrice {
    margin-left: 16%;
}

.productBtnContainer {
    position: relative;
    float: right;
    width: 62%;
    margin-top: 10px;
}
.productBtnBuy{
    border: 1px solid rgb(0, 114, 163);
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    border-radius: 15px;
    /*padding: .4% 0px;*/
    text-align: center;
    width: 72%;
    margin-top: 10px;
    display: block;
    height: 28px;
    line-height: 22px;
}

.productBtnBuy:hover{
    border: 1px solid rgb(0, 114, 163);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 114, 163);
}

.productBtnRequestSample{
    border: 0px solid rgb(0, 114, 163);
    background-color: rgba(255, 204, 0, 0.502);
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    border-radius: 15px;
    margin-top: 10px;
    /*padding: .4% 0px;*/
    text-align: center;
    width: 72%;
    margin-top: 10px;
    height: 28px;
    line-height: 28px;
}

.productBtnRequestSample:hover{
    border: 0px solid rgb(0, 114, 163);
    background-color: rgba(255, 204, 0, 0.502);
    color: rgb(0, 0, 0);
}

.overviewDescriptionContainer .OverviewTitle{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
}

.overviewDescriptionContainer .overviewDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}



/*--More details section--*/
#EltmoreDetails{
    padding: 28px 0px;
    border: 1px solid rgb(157, 157, 157);
    background-color: rgb(102, 102, 102);
}

.titleMore{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

#productDetailsMorecontainer{
    padding:0px;
}

#productDetailsMorecontainer li {
    margin-top: 2px;
}

#productDetailsMorecontainer>li{
    border-radius: 3px;
    background-color: rgb(224, 221, 206);
    width: 100%;
    margin-top: 2px;
}

#productDetailsMorecontainer>li>a{
    padding: 10px 21px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

.productDetailsMoreSubmenu{
    padding: 0px;
}

.productDetailsMoreSubmenu>li{
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    padding:0px;
    display: inline-block;
    width: 100%;
    margin-top: 2px;
}

.productDetailsMoreSubmenu>li>a{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.98283261802575,0,0,1,0,0);
    -webkit-transform: matrix( 0.98283261802575,0,0,1,0,0);
    -ms-transform: matrix( 0.98283261802575,0,0,1,0,0);
    padding: 11px;
}

#productDetailsMorecontainer .menuLinksIcon{
    border: 1px solid #666666;
    line-height: 17px;
}

.productDetailsMoreSubmenuChild>li{
    border-radius: 3px;
    background-color: rgb(176, 168, 139);
}

.productDetailsMoreSubmenuChild>li>a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
     padding: 6px;
}

.moreAuthorContainer{
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(230, 230, 227);
    padding: 12px 21px 38px;
}

.moreAuthorImgContainer{
    position: relative;
    float: left;
    width: 18%;
}

.moreAuthorImgContainer img{
    max-width: 121px;
    max-height: 149px;
}

.moreAuthorDescriptionContainer{
    position: relative;
    float: right;
    width: 82%;
}

.moreAuthorTitle{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
	margin-top: 0px;
    margin-bottom: 0px;
}

.moreAuthorDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
    margin-top: 2px;
}

.NGLSchoolProductPage .authorMoreBtn{
    font-size: 15px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: left;
    display: none;
    margin-top: 7px;
}

.tableOfContentsBtn{
    font-size: 15px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: left;
    display: none;
    margin-top: 7px;
}

.tableOfContentsContainer{
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(230, 230, 227);
    padding: 12px 21px 38px;
}

.tableOfContentsDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
    margin-top: 2px;
}

/*-- productDetails carousel --*/
#productDetailsCarousel {
    padding-top: 20px;
    padding-bottom: 50px;
}

.productDetailsCarouselTitle{
    font-size: 18px;
    color: #4498bc;
    line-height: 1.2;
    text-align: center;
}

.viewAllSeriesBtn{
    background-color: rgb(0, 114, 163);
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    width: 100%;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.viewAllSeriesBtn a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    display: inline-block;
    text-align: center;
}

.viewAllSeriesBtn a:hover{
    color: rgb(255, 255, 255);
}

/*.viewAllSeriesBtn{
    background-color: rgb(0, 114, 163);
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    width: 100%;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.viewAllSeriesBtn:hover{
    color: rgb(255, 255, 255);
}*/

.NGLSchoolProductPage #productScrollSection{
    padding: 42px 0px;
    background-color: rgb(242, 239, 223);
    position: relative;
    float: left;
    width: 100%;
}

.NGLSchoolProductPage .productScrollHeading{
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-bottom: 40px;
}

.NGLSchoolProductPage #productScrollContainer {
    margin-top: 25px;
}

.NGLSchoolProductPage #productScrollContainer .item img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 201px;
}

.NGLSchoolProductPage .owl-controls{
    position: absolute;
    width: 100%;
    top: 92px;
}

.NGLSchoolProductPage .owl-prev{
    text-align: left;
}

.NGLSchoolProductPage .owl-next{
    text-align: right;
}

.NGLSchoolProductPage #productScrollContainer .left, .NGLSchoolProductPage #productScrollContainer .right {
    background-image: none;
    font-size: 60px;
    width: 3%;
    padding-top: 5%;
    opacity: 1;
    color: #000000;
}

.NGLSchoolProductPage #productScrollContainer .item {
    width: 280px;
    display: inline-block;
}

.NGLSchoolProductPage #productScrollContainer .item a{
    display: inline-block;
   /* width: 201px;*/
    text-decoration: none;
}
.NGLSchoolProductPage #productScrollContainer .item .scrollDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

.NGLSchoolProductPage #productScrollContainer .item .scrollCopyRight{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.333;
    text-align: left;
}

.NGLSchoolProductPage #productScrollContainer .item .scrollHeading{
    font-size: 20px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}


/* Teacher Components section */
#teacherComponents{
    background-color: rgb(242, 242, 240);
    padding-top: 20px;
    padding-bottom: 50px;
}

.teacherComponentsBold{
    font-weight: 600;
}

.teacherComponentsDetailContainer {
    display: block;
    position: relative;
    float: left;
    height: 350px;
    overflow: hidden;
    width: 100%;
}

.teacherComponentsTitle{
    font-size: 24px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

#teacherComponents .teacherComponentsBox{
    margin-bottom:30px;
    padding-right:1.9%;
}

.teacherComponentsBookTitle{
    font-size: 18px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

#teacherComponents .teacherComponentsDescription{
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
	clear: both;
}

.teacherComponentsISBNPriceContainer {
    position: relative;
    bottom: inherit;
    width: 100%;
    padding-bottom: 25px;
}

.teacherComponentsProductISBN, .teacherComponentsProductPrice {
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
	margin-right:3px;
}

#teacherComponents .productBtnContainer{
    text-align: center;
    position: relative;
    bottom: 0px;
    float: left;
	margin-top: 0px;
}


/* student Components section */
#studentComponents{
    background-color: rgb(242, 242, 240);
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
}

.studentComponentsDetailContainer {
    display: block;
    position: relative;
    float: left;
    height: 350px;
    overflow: hidden;
    width: 100%;
}

.studentComponentsBold{
    font-weight: 600;
}

.studentComponentsTitle{
    font-size: 24px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

#studentComponents .studentComponentsBox{
    margin-bottom:30px;
    padding-right:1.9%;
}


.studentComponentsBookTitle{
    font-size: 18px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

#studentComponents .studentComponentsDescription{
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
	clear:both;
}

.studentComponentsISBNPriceContainer {
	position: relative;
    bottom: inherit; 
    padding-bottom: 25px;
}

.studentComponentsProductISBN, .studentComponentsProductPrice {
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
	margin-right: 3px;
}

#studentComponents .productBtnContainer{
    text-align: center;
    position: relative;
    bottom: 0px;
    float: left;
    margin-top: 0px;
}

/*-- Alternate Formats --*/
#alternateFormats{
    margin-top: 20px;
    background-color: rgb(242, 242, 240);
    padding-top: 20px;
    padding-bottom: 50px;
}


#alternateFormats .alternateFormatsComponentsBox{
    margin-bottom:30px;
    padding-right:1.9%;
}

.alternateFormatsBold{
    font-weight: 600;
}

.alternateFormatsHeading{
    font-size: 24px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
}

.alternateFormatsSubHeading{
    font-size: 14px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-top: 6px;
    max-width: 718px;
    margin-bottom: 20px;
}

.alternateFormatsDetailContainer{
    width: 100%;
    /*padding: 20px;*/
    text-align: left;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    height: 170px;
    overflow: hidden;
}

.alternateFormatsDetailHeading{
    font-size: 18px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.alternateFormatsDetailISBN{
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: lighter;
}

.alternateFormatsDetailPrice{
    font-weight: lighter;
    font-size: 15px;
}

/*-- Best Buy --*/
#bestBuy{
    margin-top: 20px;
    background-color: rgb(242, 242, 240);
    padding-top: 20px;
    padding-bottom: 50px;
}

.bestBuyBold{
    font-weight: 600;
}

#bestBuy .bestBuyComponentsBox{
    margin-bottom:30px;
    padding-right:1.9%;
}

.bestBuyLine{
    color: rgb(0, 114, 163);
    width: 100%;
    border: 1px solid;
}

.bestBuyDotedLine{
    color: rgb(102, 102, 102);
    width: 100%;
    border: 1px dotted;
}

.bestBuyHeading{
    font-size: 24px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.bestBuySubHeading{
    font-size: 14px;
    color: rgb(0, 114, 163);
    line-height: 1.2;
    text-align: center;
    margin: 0px auto;
    max-width: 718px;
    margin-bottom: 20px;
}

.bestBuyDetailContainer{
    width: 100%;
    /*padding: 20px;*/
    text-align: left;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    height : 275px;
    overflow: hidden;
}

.bestBuyDetailHeading{
    font-size: 18px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.bestBuyDetailISBN{
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    font-weight: lighter;
}

.bestBuyDetail{
    font-weight: lighter;
    font-size: 18px;
}

.bestBuyDetailPrice{
    font-weight: lighter;
    font-size: 15px;
}

.bundleIncludes{
    font-weight: lighter;
    font-size: 15px;
    font-style: italic;
}

.bestBuyProductBtnContainer{
    position: absolute;
    bottom: 4px;
}

/*-- Related Program --*/
#relatedProgramCarousel {
    padding-top: 20px;
    padding-bottom: 50px;
}

.relatedProgramCarouselTitle{
    font-size: 20px;  
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
}

#relatedProgramCarouselContainer {
    margin-top: 25px;
}

#relatedProgramCarouselContainer .owl-stage{
    margin: 0px auto;
}

#relatedProgramCarouselContainer .item img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 201px;
}

.NGLSchoolProductPage .owl-controls{
    position: absolute;
    width: 100%;
    top: 92px;
}

.NGLSchoolProductPage .owl-prev{
    text-align: left;
}

.NGLSchoolProductPage .owl-next{
    text-align: right;
}

#relatedProgramCarouselContainer .left, #relatedProgramCarouselContainer .right {
    background-image: none;
    font-size: 60px;
    width: 3%;
    padding-top: 5%;
    opacity: 1;
    color: #000000;
}

#relatedProgramCarouselContainer .item {
    width: 280px;
    display: inline-block;
}

#relatedProgramCarouselContainer .item a{
    display: inline-block;
   /* width: 201px;*/
    text-decoration: none;
}
#relatedProgramCarouselContainer .item .scrollDescription{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}

#relatedProgramCarouselContainer .item .scrollCopyRight{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.333;
    text-align: left;
}

#relatedProgramCarouselContainer .item .scrollHeading{
    font-size: 20px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}


/*-- Custom tab html --*/
.NGLSchoolProductPage .customTabHtml{
    margin-top: 2px;
    background-color: rgb(230, 230, 227);
    padding-top: 25px;
    padding-bottom:70px;
}

.NGLSchoolProductPage .customTabHtml .heading{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 25px;
    font-weight: 600;

}

.NGLSchoolProductPage .customTabHtml p, .NGLSchoolProductPage .customTabHtml{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}

.NGLSchoolProductPage .customTabHtml ul{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(102, 102, 102);
    line-height: 1.7;
    text-align: left;
    padding-left: 20px;
}

/*-- Series Custom Tab --*/

.NGLSchoolProductPage .seriesCustomTab{
    background-color: rgb(21, 87, 117);
    padding: 24px 0px;
}

.NGLSchoolProductPage .seriesCustomTabHeading{
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 20px 
}

.NGLSchoolProductPage .seriesCustomTab .vidyard-video h2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.NGLSchoolProductPage .seriesCustomTab .vidyard-video p{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}


/*-- Companion site --*/

.NGLSchoolProductPage #companionSite{
    margin-top: 2px;
}

.NGLSchoolProductPage #companionSitecontainer{
    padding: 0px;
}

.NGLSchoolProductPage #companionSitecontainer>li{
    border-radius: 3px;
    background-color: rgb(184, 119, 15);
    margin-top: 2px;
}

.NGLSchoolProductPage #companionSitecontainer>li a{
    font-size: 17px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding: 10px 21px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}

.NGLSchoolProductPage #companionSitecontainer>li a:hover, .NGLSchoolProductPage #companionSitecontainer>li a:focus{
    text-decoration: none;
}

.NGLSchoolProductPage .companionSiteSubmenu{
    padding: 0px;
}

.NGLSchoolProductPage .companionSiteSubmenu .productDetailsPadding{
     padding-bottom: 14px;
}

.NGLSchoolProductPage .companionSiteSubmenu li{
    margin-top: 2px;
    border: 1px solid rgb(148, 151, 153);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.NGLSchoolProductPage .companionSiteSubmenu li a{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    padding: 10px 21px;
    display: inline-block;
    width: 100%;
}

.NGLSchoolProductPage .companionSiteSubmenu li a:hover, .NGLSchoolProductPage .companionSiteSubmenu li a:focus{
    text-decoration: none;
}

/*-- Series Custom Tab 2 --*/
.NGLSchoolProductPage .seriesCustomTab2{
    background-color: rgb(0, 57, 133);
    padding: 60px 0px;
    margin-top: 2px
}

.NGLSchoolProductPage .seriesCustomTab2Heading{
    font-size: 36px;  
    color: rgb(255, 255, 255);
    line-height: 0.75;
    text-align: center;
    margin-bottom: 35px;
}

.NGLSchoolProductPage .seriesCustomTab2Img{
    margin: 0 auto;
}

/*---- story block section ---*/

.NGLSchoolProductPage .storyBlockContainer{
    max-width: 1056px;
    margin: 0 auto;
}

.NGLSchoolProductPage .story-block {
    margin-top: 24px;
    /*margin-bottom: 24px;*/
    overflow: hidden;
    text-align: center;
}

.NGLSchoolProductPage .story-block .block:first-of-type {
    margin-left: 0;
}

.NGLSchoolProductPage .story-block .block {
    background: #FFF;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 4px;
    display: inline-block;
   /* min-height: 260px;*/
    padding: 20px 0px;
    margin: 0 .2% 20px;
    text-align: center;
    vertical-align: top;
    max-width: 345px;
    width: 100%;
}

.NGLSchoolProductPage .story-block .block a{
    display: block;
    text-decoration: none;
}

.NGLSchoolProductPage .story-block .block a.blockImgContainer{
    min-height: 92px;
}

.NGLSchoolProductPage .story-block .block a.blockImgContainer img{
    margin-left: auto;
    margin-right: auto;
}

.NGLSchoolProductPage .storyBlockContainer .story-block .block h3{
    font-size: 32.323px;
    color: #951700;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
    -webkit-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
    -ms-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
}

.NGLSchoolProductPage .storyBlockContainer .story-block .block .blockImgInnerContainer{
    font-size: 62px;
    color: rgb(27, 98, 178);
    line-height: 1.048;
    text-align: center;
    font-weight: 700;
}

@media (min-width: 992px){

    /*-- ProductDetails Carousel --*/
    .productDetailsCarouselNoPadding>.productDetailsPadding{
        padding: 0px;
    }

    /*-- zero padding sections --*/
    #studentComponents .productDetailsPadding,#teacherComponents .productDetailsPadding,#alternateFormats .productDetailsPadding,
    #bestBuy .productDetailsPadding{
        padding: 0px;
    }
}