
<div id="skip">
<a href="#SkipToContent">Skip to Main Content</a>
</div>

<!--[if gte IE 9]> <style type="text/css">.gradient { filter: none; }</style>
<![endif]-->
<style type="text/css" media="all">
</style>

<script>    $(document).ready(function(){    
        $(".dropdown").dropdown();
    });
    
</script>

<!--  end the log in scripts this need to get adjusted to be the right ones -->

<div id="header_top">

<div id="headerContentWrap">
	
	<div id="logos">
		
		<div id="ngl_logo">
			<a href="#"><img src="/images/headerFooter/ngl_logo.jpg" alt="NGL Logo" /></a>
		</div>
    
		<div id="cl_logo">    
			<a href="#"><img src="/images/headerFooter/cl_logo.jpg" alt="CL Logos" /></a>
		</div>

	</div>
 
	<div id="headerRight">

		<div id="supportLinks">
			<ul>
			<li><a href="#">Customer Service</a></li>
			<li><a href="/support">Tech Support</a>&nbsp;</li>
			<li><a href="/contact" target="_parent">Contact Us</a></li>
			<li><a href="http://sites.cengage.com/RepFinder/search/natgeo">Find Your Rep</a></li>
			</ul>
		</div>
    
		<div id="signin">
			<p class="alpr"><a href="#">Access Online Technology <span style="vertical-align:text-bottom">&#187</span></a></p><!--Access Licensed Product Resources </p>-->
			<!--<ul>
			<li><a href="/static/lightbox/signin.html" class="pub_list">Sign in</a></li>
			<li> <a href="/static/lightbox/signin.html" class="pub_list">Create an Account</a> </li> 
			</ul>-->
		</div>
		
		<div id="search_function">
			<form id="CenSearch" name="CenSearch" target="_parent" method="post" >
				<input type="hidden" id="N" name="N" value="185+4294918800"/>
				<label for="search_text" style="position:absolute; left:-10000px;">Search entire catalog by author, title, keyword or ISBN</label>
				<input type="text" id="Ntk" name="Ntk" value="NGL" style="display:none; visibility:hidden;"/>
				<input type="text" maxlength="60" id="search_text" name="Ntt" size="50" value="Search entire catalog by author, title, keyword or ISBN" />     
				<label for="submit_button_header" style="position:absolute; left:-10000px;">Search </label>
				<input  type="button" id="submit_button_header" value="" name="headersearch"  class="search_searchBtnHead" />
			</form>
		</div>

	</div>

</div>

</div>

<div id="header_bottom">
     
     

<!-- start the mega menu -->
<div id="megaWrap">
<div id="mega">
	
  
    
	<div id="sites" class="dropdown" tabindex="30">
		<!-- Trigger --> 
		<h3  title="sites" class="dropdown-toggle">Catalog</h3>
		<!-- hides and shows this div --> 
		<div id="sitesContent" class="dropdown-menu">
		
			<div class="mega_column">
			<p class="MegaColHead">English Language<br />Teaching & Learning</p>
				<ul class="sitesLinks">
					<li><a href="#" link="4294919072+4294919071">Skills</a></li>
					<li><a href="#" link="4294919072+4294918310">Pronunciation</a></li>
					<li><a href="#" link="4294919072+4294958501">Exam Preparation</a></li>
					<li><a href="#" link="4294919072+4294918947">General English</a></li>
					<li><a href="#" link="4294919072+4294918935">Grammar</a></li>
					<li><a href="#" link="4294919072+4294918826">Vocabulary & Idioms</a></li>
					<li><a href="#" link="4294919072+4294918313">Dictionaries</a></li>
					<li><a href="#" link="4294919072+4294918938">English for Specific Purposes</a></li>
					<li><a href="#" link="4294919072+4294918316">Teacher Development</a></li>
					<li><a href="#" link="4294919072+4294918906">Leveled Readers</a></li>
				</ul>
			</div>
								
			<div class="mega_column">
				<p class="MegaColHead">&nbsp;<br />School</p>
				<ul class="sitesLinks">
					<!--<li class="UlSubHeader">Digital Solutions</li>-->
					<li><a href="#" link="4294918893+4294918891">Reading / Language Arts</a></li>
					<li><a href="#" link="4294918893+4294965826">Science</a></li>
					<li><a href="#" link="4294918893+4294918833">Social Studies</a></li>
					<li><a href="#" link="4294918893+4294918892">ESL / ELD</a></li>
					<li><a href="#" link="4294918893+4294918832">Spanish Language & Literacy</a></li>
					<li><a href="#" link="4294918893+4294958843">Professional Development</a></li>
					<li><a href="#" link="4294918893+4294918845">Reference Books</a></li>			
				</ul>
			
			</div>
						
			<div class="mega_column">
				<p class="MegaColHead">&nbsp;<br />Recommended For</p>
				<ul class="sitesLinks">
					<li><a href="#" link="4294918362">Young Learners</a></li>
					<li><a href="#" link="4294918363">Teens</a></li>
					<li><a href="#" link="4294918364">Summer School</a></li>
					<li><a href="#" link="4294918369">Private Language Schools</a></li>
					<li><a href="#" link="4294918367">Adult Education</a></li>
					<li><a href="#" link="4294918368">Higher Education</a></li>
				
				</ul>
			</div>
			
			<div class="mega_column">
				<p class="MegaColHead">&nbsp;<br />US Grade Range</p>
				<ul class="sitesLinks">
					<li><a href="#" link="4294918348">Grades PreK-5</a></li>
					<li><a href="#" link="4294918358">Grades 6-8</a></li>
					<li><a href="#" link="4294918366">Grades 9-12</a></li>
				</ul>
			</div>
			
		</div>
	</div><!-- end sites - Catalog - Content -->
	
	<div id="staticMenuLinks">
		<ul>
		<li><a href="#" title="link">State Resources</a></li>
		<li><a href="#" title="link">Correlations</a></li>
		<li><a href="#" title="link">Where to Order</a></li>
	</div>
	
</div>

<!-- end the mega menu -->

</div>

</div>

    
<!--<div style="width:100px;">
 <a name="SkipToContent"></a>
 </div>
 -->
 </div>

