  <div id="footerTopWrap">
  <div class="footer_left">
<p>Visit <a href="/" target="_parent">NationalGeographic.com <span style="vertical-align:text-bottom">&#187</span></a> and <a href="/" target="_parent">Cengage.com <span style="vertical-align:text-bottom">&#187</span></a>
</p>
 </div>
    
  <div class="footer_right">

	  <div id="pubcoLinks">
<ul>
	<li><a href="/press">Press Room</a></li>
	<li><a href="/about">About Us</a></li>
	<li><a href="/careers" target="_blank">Careers</a></li>
</ul>
	  </div>
	  
<div id="country_links_container">
	
	<div id="country_links">
<ul>
 	<li>US</li>
	<li><a href="#"onClick = "submitChooseCountryPage();">Change Country</a></li>
</ul>
	</div>

</div>
	
<!--   <div id="fontSize">
   <ul>
   <li>Font Size:</li>
   <li><a href="" class="decreaseFont fontresize">A</a></li>
   <li><a href="" class="normalizeFont fontresize">A</a></li>
   <li><a href="" class="increaseFont fontresize">A</a></li>
   
   </ul>
   </div> -->
   
   </div>
      </div>
 <div id="footerLowerWrap">
 <div id="footerSocialWrap">
   <div id="social">
	<dl>
	<dt><p>Connect with us:</p></dt>
	<dd><a href="/"><img src="/images/social_Icons/facebook.png" alt="Facebook" /></a></dd>
	<dd><a href="/"><img src="/images/social_Icons/youtube.png" alt="YouTube" /></a></dd>
	<dd><a href="/"><img src="/images/social_Icons/linkedin.png" alt="LinkedIn" /></a></dd>
	</dl>
 
	</div>
  
 
	 <div class="footer_lower">
	 <ul>
	    <li><a href="/copyright" target="_parent">Copyright Notices</a></li>
	    <li><a href="/terms" target="_parent">Terms of Use</a></li>
	    <li><a href="/privacy" target="_parent">Privacy Statement</a></li>
	    <li><a href="/accessibility/" target="_parent">Accessibility</a></li>
	    <li><a href="/#" target="_parent">HEOA Policy</a></li>
	    <li><a href="/dmca/index.html" target="_parent">DMCA Policy</a></li>
	    <li><a href="/us/piracy_report.html" target="_parent">Report Piracy</a></li>
	</ul>
	  </div>
	 
</div><!-- end the footer social wrap-->
</div>