<header>
<div id="skip">
<a href="#SkipToContent">Skip to Main Content</a>
</div>

<!--[if gte IE 9]> <style type="text/css">.gradient { filter: none; }</style>
<![endif]-->
<style type="text/css" media="all">
</style><script type="text/javascript" src="/jscript/jquery.url.js"></script>
<script  src="/jscript/jquery.fancybox.js"></script>
<script  src="/jscript/deepLink.js"></script>
<script  src="/jscript/jquery.DOMWindow.js"></script>
<script  src="/jscript/validation.js"></script>
<!-- <script  src="/jscript/foresee/foresee-trigger.js"></script> comment out for now -->

<div id="headerContentWrap">
<div id="logos">
<div id="ngl_logo">
     <a href="#"><img src="/images/headerFooter/ngl_logo.jpg" alt="NGL Logo" /></a>
 </div>
    
<div id="cl_logo">    
  <a href="#"><img src="/images/headerFooter/cl_logo.jpg" alt="CL Logos" /></a>
 </div>

 </div>
 
 <div id="headerRight">
<div id="suportLinks">
<ul>
	<li><a href="#">Customer Service</a></li>
	<li><a href="/support">Tech Support</a>&nbsp;</li>
	<li><a href="/contact" target="_parent">Contacts Us</a></li>
	<li><a href="http://sites.cengage.com/RepFinder/search/natgeo">Find Your Rep</a></li>
</ul>

</div>
    
 <div id="signin">
 <p class="alpr">Access Licensed Product Resources </p>
 <ul>
 <li><a href="/static/lightbox/signin.html" class="pub_list">Sign in</a></li>
 <li> <a href="/static/lightbox/signin.html" class="pub_list">Create an Account</a> </li> 
        </ul>
   </div>


 </div>
    
<div id="search_function">
        
  	<form id="CenSearch" name="CenSearch" target="_parent" method="post" >
		  <input type="hidden" id="N" name="N" value="185+4294918800"/>
			<label for="search_text" style="position:absolute; left:-10000px;">Search entire catalog by author, title, keyword or ISBN</label>
     	<input type="text" id="Ntk" name="Ntk" value="NGL" style="display:none; visibility:hidden;"/>
			<input type="text" maxlength="60" id="search_text" name="Ntt" size="50" value="Search entire catalog by author, title, keyword or ISBN" />     
      <label for="submit_button_header" style="position:absolute; left:-10000px;">Search </label>
      <input  type="button" id="submit_button_header" value="" name="headersearch"  class="search_searchBtnHead" />
    </form>
</div>
     

    
<!--<div style="width:100px;">
 <a name="SkipToContent"></a>
 </div>
 -->
 </div>
</header>
