 @charset "UTF-8";
/* CSS Document */
 
      

    #aeover div .col-xs-5ths.aesbk,
        #aeover div .col-sm-5ths.aesbk,
        #aeover div .col-md-5ths.aesbk,
        #aeover div .col-lg-5ths.aesbk {
            position: relative;
            padding: 5px;
            max-width: 189px;
            text-align: center;
            height: 200px;
          margin: 20px auto;
        }

        #aeover div .col-xs-5ths.aesbk {
            width: 20%;
            float: left;
        }

        @media (min-width: 768px) {
            #aeover div .col-sm-5ths.aesbk {
                width: 20%;
                float: left;
                display: inline-block;
                margin: auto;
            }
        }

        @media (min-width: 980px) {
            #aeover div .col-md-5ths.aesbk {
                width: 20%;
                float: left;
            }
        }

        @media (min-width: 1024px) {
            #aeover div .col-lg-5ths.aesbk {
                width: 20%;
                float: left;
            }
        }

        #aetech section {
            background-color: #ffffff;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            max-width: 914 px;
            text-align: center-block;
        }

        #aetech h2  {
            font-size: 36px;
            color: #333333;
            line-height: 1.5em;
            font-weight: 700;
            text-align: center;
            margin-top:20px;
            margin-bottom: 0px;
        }

        #aetech h3  {
            font-size: 30px;
            color: #333333;
            line-height: 1.5em;
            font-weight: 200;
            text-align: center;
            margin-top: 0px;
        }

        #aetech p {
            font-size: 24px;
            color: #333333;
            line-height: 1.5em;
            font-weight: 200;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .aetechnote {
            font-size: 18px;
            color: #333333;
            line-height: 1.5em;
            font-weight: 200;
            font-style: italic;
            margin-top: 15px;
        }

        .techlogos {
            width: 375px;
            height: 150px;
            margin: 25px auto;
        }

      .aeregnote {
            font-size: 12px;
            font-weight: 200;
            line-height: 1.25em;
            color: #666666;
            max-width: 914px;
            text-align: center;
      }

        #aesubjectover {
            background-color: #ffffff;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            max-width: 914 px;
            text-align: center-block;
        }
 {



}

        #aeover section {
            background-color: #ffffff;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
            max-width: 914 px;
            text-align: center-block;
        }

        #aeover img {
            margin: 0 auto;
        }

        #aetech img {
            margin: 0 auto;
        }

        #aeintrofield {
            text-align: center;
            margin: 10px auto;
            max-width: 914px;
        }


        .aeintro {
            color: #ffffff;
            font-size: 24px;
            font-weight: 300;
            line-height: 1.75;
            text-align: center;
            margin: 10px auto;
            max-width: 914px;
        }

        .aeintrotag {
            color: #ffffff;
            font-size: 24px;
            font-weight: 100;
            line-height: 1.5em;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            max-width: 914px;
            letter-spacing: .02em;

        }

        .aeintronote {
            color: #666666;
            font-size: 10px;
            font-weight: 200;
            line-height: 1.25;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
            max-width: 914px;
        }
.wllearn{
margin: 25px 0px;
}

#wlbnr{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#125199+0,2989d8+50,7db9e8+100 */
background: #125199; /* Old browsers */
background: -moz-linear-gradient(top,  #125199 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #125199 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #125199 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125199', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

  padding: 10px 10px;
            width: 100%;

}

.wlhead {
max-width: 914px;
margin: 20px auto;
text-align: center;
padding-top: 30px;

}

.wlhead h2 {
font-size: 42px;
font-weight: 200;
line-height: 1.5em;
color: #125199;


}
        #aebnr1 {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5e3800+0,b99360+100 */
            background: #5e3800;
            /* Old browsers */
            background: -moz-linear-gradient(top, #5e3800 0%, #b99360 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #5e3800 0%, #b99360 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #5e3800 0%, #b99360 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e3800', endColorstr='#b99360', GradientType=0);
            /*
                            IE6-9 */
            padding: 10px 10px;
            width: 100%;

        }

        .wlsub {
            margin: 0px 0px 15px;
            height: 24px;
        }

        .wlsub h2 {
            font-size: 22px;
            color: darkred;
            text-align: left;
            font-weight: 600;

        }

        #aetitles {
            position: relative;

        }

        .aetitles .col-xs-5ths,
        .col-sm-5ths,
        .col-md-5ths,
        .col-lg-5ths {
            position: relative;
            padding-right: 30px;
            padding-left: 0px;
            max-width: 189px;
            height: 450px;
        }

        #aetitles .col-xs-5ths {
            width: 20%;
            float: left;

        }

    .aetopicintro {
            color: #333333;
            font-size: 28px;
            font-weight: 100;
            line-height: 1.5;
            text-align: center;
            margin: 10px auto;
            max-width: 914px;

        }

        .aelist h3 {
            color: #000000;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.25;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }


        .aelist h6 {
            color: #044db9;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing 0.5px;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 5px;
            font-variant: all-small-caps;
        }

        .aelist p {
            color: #333333;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.25;
            text-align: left;
        }

        .apnote {
            color: #666666;
            font-size: 10px;
            font-weight: 200;
            line-height: 1.25;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
            max-width: 914px;
        }