@charset "UTF-8";

/* ================2021 level sections =================== */



#chinese-1 {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f59126+0,f59126+100&0.4+0,1+61 */
background: -moz-linear-gradient(top,  rgba(245,145,38,0.4) 0%, rgba(245,145,38,1) 61%, rgba(245,145,38,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(245,145,38,0.4) 0%,rgba(245,145,38,1) 61%,rgba(245,145,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(245,145,38,0.4) 0%,rgba(245,145,38,1) 61%,rgba(245,145,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66f59126', endColorstr='#f59126',GradientType=0 ); /* IE6-9 */

padding-top: 40px;
padding-bottom: 20px;
}

#chinese-2 {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c24615+0,c24615+100&0.4+1,1+60 */
background: -moz-linear-gradient(top,  rgba(194,70,21,0.4) 0%, rgba(194,70,21,0.4) 1%, rgba(194,70,21,1) 60%, rgba(194,70,21,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(194,70,21,0.4) 0%,rgba(194,70,21,0.4) 1%,rgba(194,70,21,1) 60%,rgba(194,70,21,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(194,70,21,0.4) 0%,rgba(194,70,21,0.4) 1%,rgba(194,70,21,1) 60%,rgba(194,70,21,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c24615', endColorstr='#c24615',GradientType=0 ); /* IE6-9 */

padding-top: 40px;
padding-bottom: 20px;
}

#chinese-3 {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b34cb6+0,b34cb6+100&0.4+1,1+40 */
background: -moz-linear-gradient(top,  rgba(179,76,182,0.4) 0%, rgba(179,76,182,0.4) 1%, rgba(179,76,182,1) 40%, rgba(179,76,182,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(179,76,182,0.4) 0%,rgba(179,76,182,0.4) 1%,rgba(179,76,182,1) 40%,rgba(179,76,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(179,76,182,0.4) 0%,rgba(179,76,182,0.4) 1%,rgba(179,76,182,1) 40%,rgba(179,76,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b34cb6', endColorstr='#b34cb6',GradientType=0 ); /* IE6-9 */


padding-top: 40px;
padding-bottom: 10px;
}

#chinese-4 {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4723c9+0,4723c9+100&0.4+1,1+60 */
background: -moz-linear-gradient(top,  rgba(71,35,201,0.4) 0%, rgba(71,35,201,0.4) 1%, rgba(71,35,201,1) 60%, rgba(71,35,201,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(71,35,201,0.4) 0%,rgba(71,35,201,0.4) 1%,rgba(71,35,201,1) 60%,rgba(71,35,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(71,35,201,0.4) 0%,rgba(71,35,201,0.4) 1%,rgba(71,35,201,1) 60%,rgba(71,35,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#664723c9', endColorstr='#4723c9',GradientType=0 ); /* IE6-9 */

padding-top: 40px;
padding-bottom: 20px;
}

#chinese-5 {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#243c8e+0,243c8e+100&0.4+1,1+60 */
background: -moz-linear-gradient(top,  rgba(36,60,142,0.4) 0%, rgba(36,60,142,0.4) 1%, rgba(36,60,142,1) 60%, rgba(36,60,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(36,60,142,0.4) 0%,rgba(36,60,142,0.4) 1%,rgba(36,60,142,1) 60%,rgba(36,60,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(36,60,142,0.4) 0%,rgba(36,60,142,0.4) 1%,rgba(36,60,142,1) 60%,rgba(36,60,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66243c8e', endColorstr='#243c8e',GradientType=0 ); /* IE6-9 */

padding-top: 40px;
padding-bottom: 20px;
}

#chinese-6 {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#243c8e+0,07690b+0,07690b+100&0.4+1,1+60 */
background: -moz-linear-gradient(top,  rgba(7,105,11,0.4) 0%, rgba(7,105,11,0.4) 1%, rgba(7,105,11,1) 60%, rgba(7,105,11,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(7,105,11,0.4) 0%,rgba(7,105,11,0.4) 1%,rgba(7,105,11,1) 60%,rgba(7,105,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(7,105,11,0.4) 0%,rgba(7,105,11,0.4) 1%,rgba(7,105,11,1) 60%,rgba(7,105,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6607690b', endColorstr='#07690b',GradientType=0 ); /* IE6-9 */

padding-top: 40px;
padding-bottom: 20px;
}



/* ================2019 level sections =================== */
#chibnnr1 {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc489+1,ff7b0d+100 */
		background: #ffc489; /* Old browsers */
		background: -moz-linear-gradient(top, #ffc489 1%, #ff7b0d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ffc489 1%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ffc489 1%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc489', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
		padding: 40px 30px;
}

#chibnnr2 {
		  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099cc+0,164c69+100 */
		background: #0099cc; /* Old browsers */
		background: -moz-linear-gradient(top, #0099cc 0%, #164c69 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #0099cc 0%,#164c69 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #0099cc 0%,#164c69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#164c69',GradientType=0 ); /* IE6-9 */
		padding: 40px 30px;
	}

#chibnnr3 {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d07de8+1,bc0ba5+100 */
		background: #d07de8; /* Old browsers */
		background: -moz-linear-gradient(top, #d07de8 1%, #bc0ba5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d07de8 1%,#bc0ba5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d07de8 1%,#bc0ba5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d07de8', endColorstr='#bc0ba5',GradientType=0 ); /* IE6-9 */
		padding: 40px 30px;
}
/* ================chinese classes =================== */

.bnnrtxt {
		font-family: "Open Sans";
		font-size: 36px;
    line-height: 1.5em;
    font-weight: 400;
		text-align: center;
    color:  #007399;
    padding-top: 30px;
    padding-left:30px;
    padding-right:30px;
	}

.bnnrsubhead {
				font-family: "Open Sans";
				font-size: 48px;
				text-align: center;
				font-weight:700;
	      color: #ffffff;
				margin-top: 10px;
			}

.bnnrsubhead  sup{
						top: -2em;
						font-weight: 100;
						font-size: small;
					}


.chihead {
						font-family: "Open Sans";
						font-size: 48px;
						line-height: 1.25em;
						font-weight: 200;
						color: #de1b48;
						text-align: center;
						padding-left:30px;
						padding-right:30px;
	}

.ctabrochure {
	height: 50px;
	width: 200px;
	border: solid #fff 1px;
	border-radius: 24px;
	margin: 20px auto;
	}

.disclaimer {
		font-family: "Open Sans", "sans-serif";
		font-size: 12px;
		line-height: 1.75em;
		color: #ffffff;
		text-align: center;
		font-weight:100;
		font-weight:lighter;
		margin-top: 30px;
		}

.grade {
			font-family: "Open Sans", "sans-serif";
			font-size: 24px;
			letter-spacing: .25em;
			line-height: 1.5em;
			color: #ffffff;
			text-align: center;
			font-weight:500;
		}

.k5bnnr3 {
						font-family: "Open Sans", "sans-serif";
						font-size: 24px;
						line-height: 1.75em;
						color: #ffffff;
						text-align: center;
						font-weight:100;
						font-weight:lighter;
						padding-bottom:20px;
			}

.k5bnnr3 sup {
							top: -1.1em;
							font-size: small;
			}
.learn {
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
}

.clear{
	clear: both;
	}
