@charset "UTF-8";
/* CSS Document */

.vidyard_player > span {
        width: 100% !important;
        height: 100% !important;
        margin: 0 auto !important;
    }
.innerContainer {
    position: relative; 
    display: block;
    width: 100% !important;
    height: 0;
    padding: 56.25% 0 0 0; /* This should reflect your video aspect ratio */
    
    /* Use the following 2 lines if you wish to make your player align centrally */
    
    max-width: 640px; /* This should be the width of your player */
    margin: auto;
}
.outerContainer {
    max-height: 360px; /* Set this to the height of your player */
}
.vidyard_player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 640px;   /* These should be the dimensions of your player */
    max-height: 360px;
}
.vidyard_player > span {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
}