@media(max-width: 991px){
	
	/*-- primary home footer changes --*/
	#primaryHomeBody #footer_include .EltfooterOpenContainer .footercolumnContainer {
	    width: initial;
        margin-right: 21px;
	}

	body#primaryHomeBody {
	    padding-bottom: 145px;
	}
}