/*South Carolina Adoption*/

* {
	margin:0 auto;
}
a, img {
    border:none;
    outline:none
}

header {
	height: 60px;
	width: 975px;
}
.logo {
	height: 50px;
	width: 295px;
	padding-top: 10px;
	border-collapse:collapse;
	padding-left: 25px;
}
#banner {
	margin:0;
	display: block;
	height: 200px;
	width: 975px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 0;
}
#container {
	font-family: "Myriad Pro", "Myriad Web Pro";
	height: auto;
	width: 975px;
	color: #333;	
}
#content {
	display: block;
	float: left;
	height: auto;
	width: 480px;
	margin-top: 42px;
	margin-bottom: 100px;
	padding-right: 10px;
	padding-left: 10px;
}

/*Top Nav*/

#topnav {
	display: block;
	margin: 0;
	width: 975px;
	float: left;
}
#digital {
	border-collapse:collapse;
	display: block;
	width: 154px;
	float: left;
	margin: 0;
}

/*Left Nav*/
#leftnav {
	display: block;
	width:240
	float: left;
	width: 230px;
	float: left;
	margin-top: 42px;
	padding-right: 20px;
}
#rightnav {
	display: block;
	width:240
	float: left;
	width: 210px;
	float: right;
	margin-top: 42px;
}

.arrowlinks {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-weight : normal;
	font-size : .7em;
	color : #666666;
	border: thin solid #CCC;
	float: right;
	height: auto;
	width: 200px;
	font-style: normal;
	font-variant: normal;
	margin-left: -24px;
	text-align: left;
	clear: both;
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 12px;
	list-style-type: none;
}
ol.arrowlinks{
	margin:0;
	padding:0;
	list-style:none;
}
li.arrowlinks{
	background:url("/assets/css/sch/arrow_grey.png") no-repeat 0 8px;
	padding-left:24px;
}
.arrowlinks a:link {
	text-decoration: none;
	color : #666666;
}

.arrowlinks a:hover {
	text-decoration: underline;
	color : #666666;
}

.arrowlinksHeaders {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size : 0.8em;
	color : #FFFFFF;
	float: left;
	height: auto;
	width: 200px;
	text-align: left;
	clear: both;
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 12px;
	list-style-type: none;
	margin-left: -36px;
	padding-left: 24px;
	border-top-width: medium;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	background-color: #666;
}
/*Right Nav*/
.yellowdiv {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#e7a100));
	background: -webkit-linear-gradient(top, #ffcc00 0%,#e7a100 100%);
	background: -moz-linear-gradient(top, #ffcc00 0%,#e7a100 100%);
	background: -ms-linear-gradient(top, #ffcc00 0%,#e7a100 100%);
	background: -o-linear-gradient(top, #ffcc00 0%,#e7a100 100%);
	background: linear-gradient(top, #ffcc00 0%,#e7a100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#e7a100',GradientType=0 );
	float: left;
	height: 56px;
	width: 226px;
	margin-left: -16px;
	clear: both;
	
	
}
.arrowlinksYellow {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-weight : bold;
	font-size : 0.8em;
	color : #333333;
	border: thin solid #CCC;
	float: right;
	height: auto;
	width: 200px;
	text-align: left;
	clear: both;
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 12px;
	list-style-type: none;
	margin-left: -40px;
	padding-left: 6px;
}

ol.arrowlinksYellow{
	margin:0;
	padding:0;
	list-style:none;
}
li.arrowlinksYellow{
	background:url("/assets/css/sch/arrow_grey3.png") no-repeat 0 8px;
	padding-left:24px;
}
.arrowlinksYellow a:link {
	text-decoration: none;
	color : #333333;
}

.arrowlinksYellow a:hover {
	text-decoration: underline;
	color : #333333;
}








/*-----------*/

.txt {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size: 1em;
	float: right;
	text-align: left;
	display: block;
	width: 615px;
	height: auto;
	margin-right: 25px;
	margin-top: 36px;
	line-height: 1.125em;
}

.txt a:link {
	text-decoration: none;
	color: #333;	
}
.txt a:hover {
	text-decoration: underline;
	color: #333;	
}
.notetxt {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size: 0.65em;
	text-align: left;
	margin-left: 12px;
}
.subjects {
	font-family: "Myriad Pro", "Myriad Web Pro";
	color: #666;
	font-size: 1.8em;
	margin-bottom: 12px;
	font-weight: 600;
}
.intro {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size: 0.9em;
	line-height: normal;
	font-weight: normal;
	margin-bottom: 12px;
	color: #333;
}
.intro a:link {
	text-decoration:none;
	color: #333;
}
.intro a:hover {
	text-decoration:underline;
	color: #333;
}
.courseNames {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size: 1.5em;
	color: #333333;
	display: inline-block;
	float: left;
	text-align: left;
	margin-bottom: 12px;
}
.course2 {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size: 1em;
	color: #333;
	margin-bottom: 12px;
	display: inline-block;
	float: left;
	text-align: left;
	width: 155px;
}
.edition {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 24px;
	margin-top: 3px;
	color: #666;
}
#covers {
	height: 190px;
	width: 152px;
	float: left;
	margin-bottom: 12px;
	display: inline-block;
}
#vid_div {
	width: 615px;
}


.arrowlinksHeadersBlack {
	font-family: "Myriad Pro", "Myriad Web Pro";
	font-weight : normal;
	font-size : 0.8em;
	color : #FFFFFF;
	background: #FC0;
	height: auto;
	width: 210px;
	text-align: left;
	clear: both;
	line-height: 1.6em;
	list-style-type: none;
	background-color: #666;
	background-position: top;
	padding-top: 3px;
	padding-left: 16px;
	margin-left: -16px;
}
.arrowlinksHeadersBlack a:link {
	text-decoration: none;
	color : #FFFFFF;
}

.arrowlinksHeadersBlack a:hover {
	text-decoration: underline;
	color : #FFFFFF;
}
.togglelink {
	font-weight: bold;
}
