/*-- home desktop --*/
section{
	position: relative;
	float: left;
	width: 100%;
}
/*---- Home section ---*/
/*#eltSuperHero{
	background: url(../images/schoolhomebanner-d.png) no-repeat;
    background-size: cover;
    background-position: top;
    height: 550px;
    position: relative;
}*/

.superheroBgImg{
	background-image: none;
}

#superHeroContainer .item img{
    /*height: auto;*/
    /*height: 550px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#superHeroContainer .item .thumbnailContainer{
	max-width: 1056px;
	margin: 0 auto;

}

#superHeroContainer .item .thumbnailContainer .superheroThumbnailImg{
	width: 382px;
	height: 131px;
    margin-left: 0px;
    position: absolute;
	bottom: 0;
	top: 40%;
    background-size: contain;
    background-repeat: no-repeat;
}

#eltSuperHero .heroOverlay{
	/* background-color: rgba(0, 0, 0,0.349); */
	position: absolute;
	bottom: 0;
	padding: 5px 0px;
	z-index: 99;
    width: 100%;
}

.heroOverlay h1{
	font-size: 48px;
	color: rgb(255, 255, 255);
	max-width: 1056px;
	margin: 0 auto;
	line-height: 1.25;
}

.heroOverlay h1 span{
	max-width: 800px;
	/* text-align: left; */
	text-align: center;
	display: inline-block;
}

/* New SuperHero */
	
	#eltSuperHero .full-image-bottom-text{
		bottom: 10%;
	}
	
	#eltSuperHero .full-image-top-text {
		bottom: 80%;
	}
	
	#eltSuperHero .small-image-bottom-text{
		bottom: 2%;
	}
	
	#eltSuperHero .small-image-top-text{
		bottom: 88%;
	}
	
	#eltSuperHero .full-image-bottom-text h1, #eltSuperHero .full-image-top-text h1{
		text-align: center;
		font-size: 46.336px;
		font-family: "Myriad Pro";
		color: rgb(0, 0, 0);
		line-height: 1.158;
		-moz-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-webkit-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-ms-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);


	}
	
	#eltSuperHero .small-image-top-text h1{
		font-size: 60px;
		  font-family: "Open Sans";
		  color: rgb(0, 0, 0);
		  line-height: 0.333;
		  text-align: center;
	}
	
	#eltSuperHero .small-image-bottom-text h1{
		font-size: 36px;
		  font-family: "Open Sans";
		  color: rgb(51, 51, 51);
		  line-height: 0.556;
		  text-align: center;
	}

.owl-controls{
	position: absolute;
	width: 100%;
	top: 92px;
}

.owl-prev{
	text-align: left;
}

.owl-next{
	text-align: right;
}

#superHeroContainer .left, #superHeroContainer .right {
    background-image: none;
    font-size: 60px;
    width: 5%;
    padding-top: 5%;
    opacity: 1;
    color: #000000;
}

#superHeroContainer .owl-controls i{
	border-radius: 50%;
    background-color: rgb(204, 204, 204);
    opacity: 0.8;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
}

#superHeroContainer .owl-controls i.fa-angle-right:before,#superHeroContainer .owl-controls i.fa-angle-left:before{
	opacity: 0.8;
}

#superHeroContainer .item a{
	display: block;
    text-decoration: none;
}


/*---- story block section ---*/

#storyBlockContainer{
	max-width: 1056px;
	margin: 0 auto;
}

.story-block {
    margin-top: 24px;
    /*margin-bottom: 24px;*/
    overflow: hidden;
    text-align: center;
}

.story-block .block:first-of-type {
    margin-left: 0;
}

.story-block .block {
    background: #FFF;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 4px;
    display: inline-block;
   /* min-height: 260px;*/
    padding: 20px 0px;
    margin: 0 .2% 20px;
    text-align: center;
    vertical-align: top;
    max-width: 345px;
    width: 100%;
}

.story-block .block a{
	display: block;
	text-decoration: none;
}

.story-block .block a.blockImgContainer{
	min-height: 92px;
}

.story-block .block a.blockImgContainer img{
	margin-left: auto;
	margin-right: auto;
}

#storyBlockContainer .story-block .block h3{
	font-size: 32.323px;
	color: #951700;
	line-height: 1.2;
	text-align: center;
	-moz-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
	-webkit-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
	-ms-transform: matrix( 0.74295774647887,0,0,0.7425,0,0);
}

#storyBlockContainer .story-block .block .blockImgInnerContainer{
	font-size: 62px;
	color: rgb(27, 98, 178);
	line-height: 1.048;
	text-align: center;
	font-weight: 700;
}

/*-- New title section --*/
#newTitleSection{
	background: url(../images/newtitleBg.jpg) no-repeat;
	height: 241px;
	background-size: cover;
	background-position: top;
}

.newTitleSectionLink{
	display: inline-block;
	width: 100%;
	padding-top: 35px; 
	height: inherit;
}

.newTitleContent{
	font-size: 48px;
	color: rgb(255, 255, 255);
	line-height: 1.25;
	text-align: left;
}

/*-- NGl Mission section --*/

#nglMissionSection{
	background: url(../images/nglMissionbg.jpg) no-repeat;
	height: 463px;
	background-size: cover;
	background-position: top;
	margin-top: 2px;
}

.nglMissionSectionLink{
	display: inline-block;
	width: 100%;
	height: inherit;
}

.nglMissionHeading{
	font-size: 48px;
	color: rgb(255, 255, 255);
	line-height: 1.25;
	text-align: left;
}

.nglMissionContent{
	font-size: 24px;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: left;
	max-width: 518px;
}

.nglMissionOverlay{
	background-color: rgba(0, 0, 0,0.349);
	max-width: 1100px;
	margin: 0 auto;
    height: 100%;
    padding: 28px 0px;
}

@media(max-width: 1024px){
	#superHeroContainer .item .thumbnailContainer .superheroThumbnailImg {
	    height: 79px;
	    margin-left: 56px;
	}
}

/*-- home tablet --*/
@media(max-width: 991px){
	/*#eltSuperHero{
		background: url(../images/schoolhomebanner-t.png) no-repeat;
		height: 326px;
		background-size: cover;
		background-position: top;
	}*/	
	
	#eltSuperHero .small-image-bottom-text h1{
		text-align: center;
		font-size: 20px;
		font-family: "Open Sans";
		color: rgb(51, 51, 51);
		line-height: 1;
	}
	
	#eltSuperHero .small-image-top-text h1{
		text-align: center;
		font-size: 32px;
		font-family: "Open Sans";
		color: rgb(0, 0, 0);
		line-height: 0.456;
		-moz-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-webkit-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-ms-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
	}
	
	#NGLRedesignpageContainer .container{
		padding: 0px 43px;
	}

	#superHeroContainer .item .thumbnailContainer .superheroThumbnailImg{
		padding: 0px;
		height: 61px;
		width: 179px;
		top: 34%;
		margin-left: 7%;
	}

	#eltSuperHero .heroOverlay{
	    padding: 3px 0px;
	}

	#superHeroContainer .item img{
	    /*height: auto;*/
	    /*height: 326px;*/
	    margin-left: auto;
	    margin-right: auto;
	}

	.owl-controls {
		top: 50px;
	}

	#superHeroContainer .owl-controls i{
		height: 30px;
		width: 30px;
		font-size: 30px;
	}

	#superHeroContainer .left, #superHeroContainer .right {
		width: 7%;
	}
	
	.heroOverlay h1{
		/*padding: 0 43px;
		font-size: 46px;
		/*-moz-transform: matrix( 0.41990748740185,0,0,0.41990748740185,0,0);
		-webkit-transform: matrix( 0.41990748740185,0,0,0.41990748740185,0,0);
		-ms-transform: matrix( 0.41990748740185,0,0,0.41990748740185,0,0);*/
		/*custom*/
		/* -moz-transform: matrix( 0.890748740185,0,0,0.91990748740185,0,0);
		-webkit-transform: matrix( 0.890748740185,0,0,0.91990748740185,0,0);
		-ms-transform: matrix( 0.890748740185,0,0,0.91990748740185,0,0);
		line-height: 1.158; */
		font-size: 46.336px;
	  font-family: "Myriad Pro";
	  color: rgb(255, 255, 255);
	  line-height: 1.158;
	  -moz-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
	  -webkit-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
	  -ms-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		text-align: center;
	}

	/*---- story block section ---*/
	
	#storyBlockContainer{
		padding: 0 15px;
	}

	.story-block .block {
		max-width: 350px;
	}

	/*-- New title section --*/

	#newTitleSection{
		height: 198px;
		padding-top: 32px;
	}

	.newTitleContent{
		font-size: 43px;
		line-height: 1.158;
		text-align: left;
		/*-moz-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-webkit-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-ms-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);*/
	}

	/*-- NGl Mission section --*/

	#nglMissionSection{
		height: 380px;
	}

	.nglMissionHeading{
		font-size: 43px;
		line-height: 1.158;
		text-align: left;
		/*-moz-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-webkit-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-ms-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);*/
	}

	.nglMissionContent{
		font-size: 20px;
		line-height: 1.554;
		text-align: left;
		/*-moz-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-webkit-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);
		-ms-transform: matrix( 0.82023377670294,0,0,0.8200903534414,0,0);*/
	}

	.nglMissionOverlay{
		max-width: 100%;
		padding-top: 20px;
	}
}
/*-- home mobile --*/
@media(max-width: 767px){
	/*#eltSuperHero{
		background: url(../images/schoolhomebanner-t.png) no-repeat;
		height: 216px;
		background-size: cover;
		background-position: top;
	}*/

	#NGLRedesignpageContainer .container {
	    padding: 0px 12px;
	}

	.superheroBgImg{
		background-image: block;
		height: 216px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	/* #superHeroContainer .item img{
	    display: none;
	} */

	#superHeroContainer .item .thumbnailContainer .superheroThumbnailImg{
		padding: 0px;
		/*height: 40px;*/
		top: 40%;
		width: 118px;
		margin-left: 40px;
	}

	#eltSuperHero .heroOverlay{
	    padding: 7px 0px;
	}

	#superHeroContainer .owl-controls i{
		height: 30px;
		width: 30px;
		font-size: 30px;
	}
	
	#superHeroContainer .left, #superHeroContainer .right {
		width: 11%;
		padding-top: 0px;
	}

	#superHeroContainer .owl-controls {
	    top: 48px;
	}
	.heroOverlay h1 {
		/*padding: 0 12px;
		font-size: 20px;
		line-height: 1.143;
		text-align: center;
		/*-moz-transform: matrix( 0.41990748740185,0,0,0.41990748740185,0,0);
		-webkit-transform: matrix( 0.41990748740185,0,0,0.41990748740185,0,0);
		-ms-transform: matrix( 0.41990748740185,0,0,0.41990748740185,0,0);*/

		/*custom
		-moz-transform: matrix( 0.93,0,0,0.91990748740185,0,0);
		-webkit-transform: matrix( 0.93,0,0,0.91990748740185,0,0);
		-ms-transform: matrix( 0.93,0,0,0.91990748740185,0,0);*/
		font-size: 20px;
	  font-family: "Myriad Pro";
	  color: rgb(255, 255, 255);
	  line-height: 1.4;
	  text-align: center;
	  -moz-transform: matrix( 0.33162217659138,0,0,0.33153846153846,0,0);
	  -webkit-transform: matrix( 0.33162217659138,0,0,0.33153846153846,0,0);
	  -ms-transform: matrix( 0.33162217659138,0,0,0.33153846153846,0,0);

	}

	.heroOverlay h1 span{
		max-width: 335px;
	}	

	#superHeroContainer .item img{
	    /*height: auto;*/
	    height: 216px;
	    margin-left: auto;
	    margin-right: auto;
	}

	/*---- story block section ---*/
	#storyBlockContainer{
		padding: 0 12px;
	}

	/*-- New title section --*/

	#newTitleSection{
		height: 127px;
		padding-top: 20px;
	}

	.newTitleContent{
		font-size: 25px;
		line-height: 1.333;
		text-align: left;
		/*-moz-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);
		-webkit-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);
		-ms-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);*/
	}

	/*-- NGl Mission section --*/
	#nglMissionSection{
		height: 350px;
	}

	.nglMissionHeading{
		font-size: 25px;
		line-height: 1.333;
		text-align: left;
		/*-moz-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);
		-webkit-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);
		-ms-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);*/
	}

	.nglMissionContent{
		font-size: 15px;
		line-height: 1.462;
		text-align: left;
		/*-moz-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);
		-webkit-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);
		-ms-transform: matrix( 0.52082336045955,0,0,0.52135637430714,0,0);*/
	}
}

@media(max-width: 424px){
	/*#eltSuperHero{
		background: url(../images/schoolhomebanner-m.png) no-repeat;
		height: 216px;
		background-size: cover;
		background-position: top;
	}
*/

/* Super Hero block */
	#eltSuperHero .small-image-top-text h1 {
		  font-size: 60.325px;
		  font-family: "Myriad Pro";
		  color: rgb(0, 0, 0);
		  line-height: 1.4;
		  -moz-transform: matrix( 0.33162217659138,0,0,0.33153846153846,0,0);
		  -webkit-transform: matrix( 0.33162217659138,0,0,0.33153846153846,0,0);
		  -ms-transform: matrix( 0.33162217659138,0,0,0.33153846153846,0,0);

	}
	
	#eltSuperHero .small-image-bottom-text h1{
		font-size: 12px;
		  font-family: "Open Sans";
		  color: rgb(102, 102, 102);
		  line-height: 1.667;
	}
	/*---- story block section ---*/
	.story-block .block{
		margin-left: 0px;
	}

	#storyBlockContainer .story-block .storyBlockLink{
		line-height: 1;
	}
}

@media(max-width: 330px){
	#superHeroContainer .item .thumbnailContainer img{
		top: 30%;
	}
}
/*-- searchResult desktop --*/
section{
	position: relative;
	float: left;
	width: 100%;
}

#relativeSectionContainer{
	margin-top: 44px;
	position: relative;
	float: left;
}

/* -- Filter section --*/

.filternav .navbar{
    margin: 0px;
}

.filternav .navbar-header {
    float: none;
}
.filternav .navbar-toggle {
    display: block;
}
.filternav .navbar-collapse.collapse {
    display: none!important;
}
.filternav .navbar-collapse.collapse.in {
    display: block!important;
}
.filternav .navbar-nav {
    float: none!important;
}
.filternav .navbar-nav>li {
    float: none;
    z-index: 1;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
}

#filterSection{
	border-radius: 3px;
	background-color: rgb(0, 114, 163);
	height: 44px;
	position: fixed;
    z-index: 9;
    top: 71px;
}

#filterButtonContainer{
	float: left;
	font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 2.7;
    text-align: left;
}

#filterButtonContainer .navbar-toggle{
	padding: 0px;
	margin: 0px;
}

#filterMenuMainContainer {
    position: fixed;
    z-index: 99;
    top: 71px;
}

#filterMenucontainer{
	padding: 0px;
	position: absolute;
	width: 100%;
	z-index: 9;
	top: 45px;
	/*height: 250px !important;*/
	max-height: 500px;
    overflow-y: auto !important;
}

#filterMenucontainer>li{
	border-radius: 3px;
	background-color: rgb(190, 219, 232);
    border: 1px solid rgb(190, 219, 232);
	margin-top: 1px;
}

#filterMenucontainer>li:not(:first-child){
	/*height: 44px;*/
}

#filterMenuMainContainer .searchFilterSubmenu li{
	border: 1px solid rgb(190, 219, 232);
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	margin-top: 1px;
	font-size: 16px;
	color: rgb(102, 102, 102);
	text-align: left;
	/*height: 44px;*/
}

#filterMenuMainContainer .searchFilterSubmenu li .searchFilterCheckboxContainer{
	padding: 13px 8px;
}

#filterMenuMainContainer .searchFilterSubmenu li .searchFilterCheckbox{
	outline: 1px solid rgb(102, 102, 102);
    -webkit-appearance: none;
    padding: 6px;
    margin-left: 6px;
    margin-right: 11px;
    margin-top: 0px;
    cursor: pointer;
}

#filterMenuMainContainer .searchFilterSubmenu li .searchFilterCheckbox:checked{
	outline: 1px solid rgb(102, 102, 102);
	background-color: rgb(0, 114, 163);
}
#filterMenuMainContainer .searchFilterSubmenu li .searchFilterCheckbox:focus{
	outline: 1px solid rgb(102, 102, 102);
	outline-offset: inherit;
}

#filterMenuMainContainer .searchFilterSubmenu li .searchFilterCheckboxContainer label{
	margin-bottom: 0px;
    font-weight: normal;
    cursor: pointer;
}

#filterMenuMainContainer .searchFilterSubmenu{
	padding: 0px;
}

#filterMenucontainer li a {
    /*line-height: 24px;
    display: flex;
    cursor: pointer;*/
    cursor: pointer;
    padding: 8px;
}

#filterMenucontainer .menuLinksText{
	font-size: 16px;
	color: rgb(51, 51, 51);
	text-align: left;
}

#filterMenucontainer .filterSelectionText{
	font-size: 16px;
	color: rgb(0, 114, 163);
	text-align: left;
    padding-bottom: 7px;
}

#filterMenucontainer .selectedFilterContainer{
	padding: 15px;
	background-color: #ffffff;
}

#filterMenucontainer .filterSelectedList .filterSelectedListText{
	border-radius: 7px;
	background-color: rgb(0, 114, 163);
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: left;
	padding: 5px;
	display: inline-block;
    margin-bottom: 3px;
}

.filterSelectedListText .fa-times {
    float: right;
    padding-left: 10px;
    cursor: pointer;
}

/*-- search result series banner --*/
#seriesBanner{
    background-image: none;
}

#seriesBanner .superheroImg{
    /*height: 100%;*/
    margin: 0 auto;
    display: block;
}

#seriesBanner .heroOverlay{
    background-color: rgba(102, 102, 102,0.8);
    position: absolute;
    bottom: 0px;
}

#seriesBanner .heroOverlayText{
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 1.071;
    max-width: 1056px;
    margin: 10px auto;
    font-weight: 400;
}

/* search result title */
#searchresultstitleContainer, #searchresultsSingleItemtitleContainer{
	border-radius: 3px;
  	background-color: rgb(0, 114, 163);
  	height: 22px;
  	margin-top: 7px;
}

.searchresultstitle{
	font-size: 16px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.searchresultstitleImg{
	display: inline;
    margin-right: 4px;
}

/* Search results Series */
#searchresultsSeries{
	background-color: rgb(94, 173, 204);
	padding-bottom: 20px;
}

.subResultsInfocontainer{
	border: 2px solid rgb(255, 255, 255);
	border-radius: 3px;
	background-color: rgb(230, 230, 230);
	height: auto;
	margin-top: 10px;
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.searchResultsListSeriesResponsiveContainer{
	width: 330px;
	float: left;
	position: relative;
	margin:40px 1.99% 20px 0px;
	height: 480px;
	padding: 27px 26px;
    background-color: #ffffff;
}

.subResultsInfocontainer ul{
	/*height: 100%;*/
}

.subResultsInfocontainer ul li{
	display: inline-block;
	height: inherit;
	position: relative;
	float: left;
	line-height: 28px;
}

.subResultsInfocontainer .searchResultsPageCount{
	font-size: 16px;
	color: rgb(0, 114, 163);
	position: relative;
    float: left;
    vertical-align: middle;
    height: inherit;
    margin-left: 10px;
}

.subResultsInfocontainer .searchResultsSorting{
	font-size: 14px;
	color: rgb(0, 0, 0);
	margin-left: 15px;
}

.subResultsInfocontainer .searchResultsSorting select{
	border: 1px solid rgb(157, 157, 157);
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	width: 233px;
	height: 22px;
}

.subResultsInfocontainer .searchResultsperPage{
	font-size: 14px;
	color: rgb(0, 0, 0);
	margin-left: 10px;
}

.subResultsInfocontainer .searchResultsperPage select{
	border: 1px solid rgb(157, 157, 157);
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	width: 72px;
	height: 22px;
}

.searchResultsPagination ul {
    padding: 0px;
    margin-left: 25px;
}

.searchResultsPagination ul li {
    margin-left: 5px;
}

.subResultsInfocontainer .searchResultsPagination{
	font-size: 16px;
	color: rgb(0, 0, 0);
}
.subResultsInfocontainer .searchResultsPagination a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 16px;
}
.subResultsInfocontainer .searchResultsPagination .selectedPaginationNumber a:visited{
	color: #6096b6;
}

.subResultsInfocontainer .searchResultsPagination .currentPageNumber{
	color: #cc0000;
}

.subResultsInfocontainer ul li.searchResultsDownloadsContainer, .subResultsInfocontainer ul li.searchResultsPrintContainer{
	float: right;

}

.searchResultsDownloads{
	font-size: 12px;
	color: rgb(0, 0, 0);
	margin-right: 20px;
}

.searchResultsDownloads a{
	text-decoration: none;
	font-size: 12px;
	color: rgb(0, 0, 0);
}

.searchResultsPrint{
	font-size: 12px;
	color: rgb(0, 0, 0);
	-moz-transform: matrix( 0.99868131868132,0,0,1,0,0);
	-webkit-transform: matrix( 0.99868131868132,0,0,1,0,0);
	-ms-transform: matrix( 0.99868131868132,0,0,1,0,0);
	margin-right: 20px;
}

.searchResultsPrint a{
	text-decoration: none;
	font-size: 12px;
	color: rgb(0, 0, 0);
	-moz-transform: matrix( 0.99868131868132,0,0,1,0,0);
	-webkit-transform: matrix( 0.99868131868132,0,0,1,0,0);
	-ms-transform: matrix( 0.99868131868132,0,0,1,0,0);
}


/* -- search results list --*/
.searchResultsListMainContainer{
	/*padding: 40px 0px;*/
    position: relative;
    float: left;
    width: 100%;
    /*text-align: center;*/
}

#searchresultsSingleItem .searchResultsListMainContainer{
	padding: 40px 0px;
}

.seriesMainContainer{
    margin: 40px 0px 20px;
}

.searchResultsListContainer{
	height: inherit;
}
/*.searchResultsListContainer{
	width: 330px;
    height: 450px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 27px 26px;
}*/

.isbn{
	font-size: 15px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.2;
	margin: 0px;
}

.searchResultsListContainer a{
	display: inline-block;
	text-decoration: none;
}

.searchResultsListContainer a:hover{
	color: rgb(0, 0, 0);
}

.searchResultsListContainer img{
	width: 278px;
	height: 174px;
}

.searchResultsListContainer h2{
	font-size: 15px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-align: left;
}

.searchResultsListContainer h2 a{
	color: rgb(0, 0, 0);
	display: block;
}

.searchResultsListContainer h2 a:hover{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.searchResultsListContainer p{
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 1.25;
	text-align: left;
}

.searchResultsListContainer p.copyRight{
	font-size: 12px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}


.searchResultsListBtn{
	border: 1px solid rgb(255, 204, 0);
	background-color: rgb(255, 255, 255);
	font-size: 12px;
	/*font-family: "Myriad Pro";*/
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	width: 35%;
	border-radius: 10px;
	height: 22px;
	line-height: 22px;
	margin:0px auto;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 28px;
}

/*-- Search series result single item --*/
.searchResultsListResponsiveContainer{
	width: 32%;
	float: left;
	position: relative;
	margin:0 1.33% 40px 0px;
	height: 300px;
	padding: 15px 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

#searchresultsSingleItem{
	background-color: rgb(225, 241, 247);
}

.searchresultsSingleItemList {
    position: relative;
    height: auto;
}

.searchSingleItemImgContainer{
	width: 27%;
	float: left;
}

.searchSingleItemImg {
	float: left;
	width: 100%;
}

.searchSingleItemDetailContainer{
	width: 69%;
	float: right;
	height: 100%;
}
.searchSingleItemDetailContainer .newItemContainer{
	width: 100%;
	position: relative;
	float: left;
}
.searchSingleItemDetailContainer .newItem{
	border-radius: 5px;
	background-color: rgb(191, 25, 25);
	font-size: 12px;
	/*font-family: "Myriad Pro";*/
	color: #ffffff;
	line-height: 1.2;
	text-align: left;
	padding: 1px 4px;
    font-weight: normal;
    margin: 0;
    float: left;
}

.author{
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}

.levels{
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}

.lexileDRA{
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	font-weight: 600;
}

.bookEdition{
	font-size: 12px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	font-weight: 700;
}

.copyRight{
	font-size: 12px;
	/*font-family: "Myriad Pro";*/
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}

.searchSingleItemDetailContainer p{
	margin-top: 5px;
	margin-bottom: 5px;
}

.searchSingleItemDetailContainer h2{
	text-align: left;
}
.searchSingleItemDetailContainer h2, .searchSingleItemDetailContainer span{
	font-size: 15px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.2;
	margin: 0px;
}

.searchSingleItemDetailContainer h2 a{
	color: rgb(0, 0, 0);
	display: block;
}

.searchSingleItemDetailContainer h2 a:hover{
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.searchSingleItemDetailContainer span{
	font-size: 12px;
}

.float-left{
	position: relative;
	float: left;
}

.float-right{
	position: relative;
	float: right;
}

.searchSingleItemButtonContainer{
	position: absolute;
	float: left;
	width: 60%;
	bottom: 0px;
	text-align: center;
}

.singleItemBtnLearn{
    border: 1px solid rgb(255, 204, 0);
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    /* font-family: "Myriad Pro"; */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 4px 0;
}

.singleItemBtnBuy{
	border: 1px solid rgb(0, 114, 163);
	background-color: rgb(255, 255, 255);
	font-size: 16px;
	color: rgb(0, 114, 163);
	line-height: 1.2;
    padding: 2px 0;
}

.searchSingleItemDetailContainer a{
	width: 100%;
	border-radius: 10px;
	text-decoration: none;
}

.singleItemBtnLearn:hover{
	color: rgb(0, 0, 0);
}

.singleItemBtnBuy:hover{
	color: rgb(0, 114, 163);
}

@media screen and (min-width: 992px){

	/*.searchResultsListResponsiveContainer:nth-child(3n){
		margin-right: 0px;
	}*/

}

/* changes for JSP Page */

.endeca-slot{
	display: block;
}

/*-- search result error message--*/
.red{
	color: #951700;
}

.red:hover, .red:focus{
	color: #951700;
}

.subResultsInfocontainer ul li.EmptySearchResultsMessageContainer{
	width: 100%;
}

.EmptySearchResultsMessageContainer p{
	font-size: 13.5px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
}

/* hide show icon */
.show{
	display: block;
}

.hide{
	display: none;
}

.seriesSearchResultShowHideIcon.collapsed > i, .productSearchResultShowHideIcon.collapsed > i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.seriesSearchResultShowHideIcon .fa.menuLinksIcon, .productSearchResultShowHideIcon .fa.menuLinksIcon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 24px;
    color: rgb(102, 102, 102);
    background-color: #fff;
    text-align: center;
    display: inline-block;
    font-style: normal;
    cursor: pointer;
    line-height: 15px;
    margin-top: 1px;
}

/* search menu overflow hiden */
/*
#filterMenucontainer .searchMenuOverflowHidden{
	height: 470px !important;
	overflow: hidden !important;
}

.searchMenuShowLink{
	display: block;
}

.searchMenuHideLink{
	display: none !important;
}

.searchResultRefinements{
	font-weight: 600;
}*/
/*-- searchResult tablet --*/
@media screen and ( max-width: 991px){
#pageContainer .container,#NGLRedesignpageContainer .container{
    padding: 0px 43px;
}

.subResultsInfocontainer ul li.searchResultsPageCountContainer{
	width: 70%;
}

.subResultsInfocontainer .searchResultsSorting{
	margin-left: 10px;
}

.searchResultsPagination ul{
	margin-left: 57px;
}

.subResultsInfocontainer .searchResultsperPage{
	margin-left: 60px;
}

.seriesResultLeft{
	float: left;
}

.seriesResultRight{
	float:  right;
}

.searchResultsListSeriesResponsiveContainer{
	margin: 40px 1.6% 20px 0px;
}

.searchResultsListResponsiveContainer{
	width: 45.4%;
	margin: 0 4.6% 62px 0px;
}

.searchResultsListBtn{
	font-size: 16px;
	color: rgb(0, 0, 0);
	line-height: 1.125;
	text-align: center;
	-moz-transform: matrix( 0.94013605442177,0,0,0.93866666666667,0,0);
	-webkit-transform: matrix( 0.94013605442177,0,0,0.93866666666667,0,0);
	-ms-transform: matrix( 0.94013605442177,0,0,0.93866666666667,0,0);
}


}

@media screen and (min-width: 768px) and (max-width: 991px){

	/*.searchResultsListResponsiveContainer:nth-child(2n) {
	    margin-right: 0px;
	}*/

}
/*-- searchResult mobile --*/
@media screen and ( max-width: 767px){
	#pageContainer .container,#NGLRedesignpageContainer .container{
	    padding: 0px 12px;
	}

	#filterMenucontainer, #filterMenuMainContainer .searchFilterSubmenu{
		margin: 0px;
	}

	#filterMenuMainContainer .container{
		padding: 0px;
	}

	/* Series banner section */

	#seriesBanner{
	    height: 144px;
	    /*background-image: url(http://d-ngl.cengage.com/covers/imageServlet?epi=10146259965966702329517769751686500408&image_type=OVTAB);*/
	    background-repeat: no-repeat;
  		background-size: cover;
  		background-position: bottom;
	}

	#seriesBanner .superheroImg{
	    height: 100%;
	    display: none;
		
	}

	#seriesBanner  .heroOverlayText{
	    font-size: 22px;
	    margin: 5px auto;
	}
	
	/* search list container */
	.subResultsInfocontainer ul li.searchResultsPageCountContainer{
		width: 71%;
	}

	.searchResultsListContainer{
		width: 100%;
	}

	.searchSingleItemDetailContainer{
		width: 68%;
	}

	.searchResultsPrint a,.searchResultsDownloads a{
	    font-size: 0;
	    line-height: 0;
	    color: transparent;
	}

	.searchResultsDownloads{
		margin-right: 15px;
	}

	.searchResultsPrint{
		margin-right: 10px;
	}
	
	.subResultsInfocontainer .searchResultsSorting{
		margin-top: 10px;
	}

	.subResultsInfocontainer .searchResultsperPage{
		margin-top: 10px;
		margin-left: 10px;
	}

	.searchResultsPagination ul{
		margin-top: 10px;
		margin-left: 22px;
	}

	.searchResultsListMainContainer .seriesMainContainer:not(:first-child){
		margin-top: 30px;
	}

	.searchResultsListSeriesResponsiveContainer{
		width: 100%;
		margin: 30px 0px 20px 0px;
	}

	.searchResultsListResponsiveContainer{
		width: 100%;
		margin: 0px 0px 62px 0px;
	}

	.searchSingleItemDetailContainer span.float-right{
		margin-right: 9px;
	}

	/*.searchSingleItemDetailContainer a{
		width: 42%;
	}*/

	.singleItemBtnBuy{
		margin-right: 9px;
	}

	.searchResultsListBtn{
		font-size: 16px;
		color: rgb(0, 0, 0);
		line-height: 1.125;
		text-align: center;
		-moz-transform: matrix( 0.997113997114,0,0,0.99733333333333,0,0);
		-webkit-transform: matrix( 0.997113997114,0,0,0.99733333333333,0,0);
		-ms-transform: matrix( 0.997113997114,0,0,0.99733333333333,0,0);
	}
}